<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>ART </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="c:\ckashare\artcol\artcol.mdb\art_collection"><INPUT TYPE=hidden NAME="tn" VALUE="artcol"><INPUT TYPE="text" NAME="item" SIZE=12 VALUE="|0|"></FORM>
</TABLE>

<IMG SRC=C:\CKASHARE\ARTCOL\|0|\|0|.jpg>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>ID</B><TD> |0|
<TD CLASS="mm">
<B>Accession</B><TD> |1|
<TD CLASS="mm">
<B>Artist</B><TD> |2|
<TD CLASS="mm">
<B>Category</B><TD> |3|
<TD CLASS="mm">
<B>Title</B><TD> |4|
</TABLE>
