<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>Code Maintenance </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="sw.pool"><INPUT TYPE=hidden NAME="tn" VALUE="sw_pool"><INPUT TYPE="hidden" NAME="item" SIZE=5 VALUE="|0|"></FORM>

<TABLE>
<TH class=index colspan=5>Maintain Codes

<TR>
<TD CLASS="mm"><B>Schedule</B>
<TD><select name="91" size="10" id="sselect dict asset with a0 ='@schedule]' a2,dict asset"><option value="|9999|" selected>|9999|
</select>

<TD CLASS="mm"><B>Group</B>
<TD><select name="92" size="10" id="sselect asset.group by a0 a1,asset"><option value="|37|" selected>|37|
</select>

<TR>
<TD CLASS="mm"><B>Location</B>
<TD><select name="93" size="10" id="sselect location by a0 a1,location"> <option value="|9999|" selected>|9999|
</select>

<TD CLASS="mm"><B>Type</B>
<TD><select name="94" size="10" id="sselect asset.codes with a0 = '@T]' a2,asset.codes"><option value="|9999|" selected>|9999|
</select>

<TD CLASS="mm"><B>Class</B>
<TD><select name="95" size="10" id="sselect asset.codes with a0 = '@C]' a2,asset.codes"><option value="|9999|" selected>|9999|
</select>

</TABLE>

