<a href="/prospect_site/excel/@@xlfile@@.xls" target="/prospect_site/excel/@@xlfile@@.xls" name="Excel File">Excel File: @@xlfile@@.xls</a>
<br>
<table  cellpadding="1" cellspacing="1"  border="1"  width="60%" align="center">
<TR class="emphasis">
<TD align="left" width="48%" >SALES<td align="center" width="17%">SALES
<TD align="center" width="17%">GST
<TR class="plain">
<TD align="left" width="48%">Sales with GST Charged<TD align = "Right" width="17%">@@saleswithgst@@<TD align = "Right" width="17%">@@salesgst@@
<TR class="plain">
<TD align="left" width="48%">Sales with No GST Charged<TD align = "Right" width="17%">@@salesnogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%"> &nbsp;<TD align = "Right" width="17%">@@salessum@@<TD align = "Right" width="17%">@@salesgstsum@@
<TR class="plain">
<TD align="left" width="48%">LESS<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">Credits with GST<TD align = "Right" width="17%">@@creditswithgst@@<TD align = "Right" width="17%">@@creditsgst@@
<TR class="plain">
<TD align="left" width="48%">Credits with No GST<TD align = "Right" width="17%">@@creditsnogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">&nbsp; <TD align = "Right" width="17%">@@creditssum@@<TD align = "Right" width="17%">@@creditsgstsum@@
<TR class="plain">
<TD align="left" width="48%">ADD<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">Cash Receipts with GST<TD align = "Right" width="17%">@@receiptswithgst@@<TD align = "Right" width="17%">@@receiptsgst@@
<TR class="plain">
<TD align="left" width="48%">Cash Receipts with No GST<TD align = "Right" width="17%">@@receiptsnogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">&nbsp; <TD align = "Right" width="17%">@@receiptssum@@<TD align = "Right" width="17%">@@receiptsgstsum@@
<TR class="plain">
<TD class="mm" align="left" width="48%">TOTAL SALES<TD align = "Right" width="17%">@@totalsales@@<TD align = "Right" width="17%">@@totalsalesgst@@
<TR>
</table>
<br>
<table width="80%" align="center">
<TR>
<TD align="left">@@cancreceipts@@ Cancelled Receipts for this Period Value: @@cancreceiptsval@@ GST: @@cancreceiptgst@@
<TR>
<TD align="left">@@cancreceiptspp@@ Cancelled Receipts for Previous Period Value: @@cancreceiptsvalpp@@ GST: @@cancreceiptgstpp@@
</table>
<br>
<table Class="a" cellpadding="1" cellspacing="1"  border="1" width="60%" align="center">
<TR class="emphasis">
<TD align="left" width="48%">PURCHASES<td align="center" width="17%">CAPITAL<TD align = "center" width="17%">OTHER<TD align = "center" width="17%">GST
<TR class="plain">
<TD align="left" width="48%">Purchases with GST<TD align = "Right" width="17%">@@cappurchwithgst@@<TD align = "Right" width="17%">@@othpurchwithgst@@<TD align = "Right" width="17%">@@purchgst@@
<TR class="plain">
<TD align="left" width="48%">Purchases with No GST<TD align = "Right" width="17%">@@cappurchnogst@@<TD align = "Right" width="17%">@@othpurchnogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">&nbsp; <TD align = "Right" width="17%">@@cappurchsum@@<TD align = "Right" width="17%">@@othpurchsum@@<TD align = "Right" width="17%">@@purchgstsum@@
<TR class="plain">
<TD align="left" width="48%">LESS<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">Credits with GST<TD align = "Right" width="17%">@@capcredwithgst@@<TD align = "Right" width="17%">@@othcredwithgst@@<TD align = "Right" width="17%">@@purcredgst@@
<TR class="plain">
<TD align="left" width="48%">Credits with No GST<TD align = "Right" width="17%">@@capcrednogst@@<TD align = "Right" width="17%">@@othcrednogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">&nbsp; <TD align = "Right" width="17%">@@capcredsum@@<TD align = "Right" width="17%">@@othcredsum@@<TD align = "Right" width="17%">@@purcredgstsum@@
<TR class="plain">
<TD align="left" width="48%">ADD<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">Payments with GST<TD align = "Right" width="17%">@@cappaywithgst@@<TD align = "Right" width="17%">@@othpaywithgst@@<TD align = "Right" width="17%">@@paygst@@
<TR class="plain">
<TD align="left" width="48%">Payments with No GST<TD align = "Right" width="17%">@@cappaynogst@@<TD align = "Right" width="17%">@@othpaynogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD align="left" width="48%">&nbsp; <TD align = "Right" width="17%">@@cappaysum@@<TD align = "Right" width="17%">@@othpaysum@@<TD align = "Right" width="17%">@@paygstsum@@
<TR class="plain">
<TD class="mm" align="left" width="48%">TOTAL PURCHASES<TD align = "Right" width="17%">@@totalcappurch@@<TD align = "Right" width="17%">@@totalothpurch@@<TD align = "Right" width="17%">@@totalpurchgst@@
</table>
<br>
<table  cellpadding="1" cellspacing="1"  border="1" width="60%" align="center">
<TD class="mm" align="left" width="48%">RATES<td class="mm" align = "center" width="17%">RATES<TD class = "mm" align = "center" width="17%">GST
<TR class="plain">
<TD align="left" width="48%">Rates with GST Charged<TD align = "Right" width="17%">@@rateswithgst@@<TD align = "Right" width="17%">@@ratesgst@@
<TR class="plain">
<TD align="left" width="48%">Rates with No GST Charged<TD align = "Right" width="17%">@@ratesnogst@@<TD align = "Right" width="17%">&nbsp;
<TR class="plain">
<TD class="mm" align="left" width="48%">TOTAL RATEs<TD align = "Right" width="17%">@@ratessum@@<TD align = "Right" width="17%">@@ratesgstsum@@
</table>
<br>
<table cellpadding="1" cellspacing="1"  border="1" width="60%" align="center">
<TD class="mm" align="left" width="48%">JOURNALS TO CONTROL ACCOUNTS<TD class="mm" align = "center" width="17%">Debits<TD class="mm" align = "center" width="17%">Credits
<TR class="plain">
<TD align="left" width="48%">@@gstinputacc@@<TD align = "Right" width="17%">@@gstinputdebit@@<TD align = "Right" width="17%">@@gstinputcredit@@
<TR class="plain">
<TD align="left" width="48%">@@gstoutputacc@@<TD align = "Right" width="17%">@@gstoutputdebit@@<TD align = "Right" width="17%">@@gstoutputcredit@@
<TR  class="plain">
<TD align="left" width="48%">@@withholdingacc@@<TD align = "Right" width="17%">@@withholdingdebit@@<TD align = "Right" width="17%">@@withholdingcredit@@

</table>
