<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>BANKING DEPOSIT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="dict cash"><INPUT TYPE=hidden NAME="tn" VALUE="cash_deposit"><INPUT TYPE="text" NAME="item" SIZE=12 VALUE="|0|"></FORM>
</TABLE>

||SRsr313
<TABLE WIDTH=95% align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Receipt
<TH>Amount
<TH>Payee Dertails
<TH>BSB
<TH>Post Amount
<TH>Post Acct
<TH>Post Desc
<TH>Rebate
<TH>Change
<TH>Bank
<TH>Bank Amt
<TH>Narrative
<TH>Infringe
<TH>Code
<TH>Pay Suggest
<TH>Refs paid
<TH>Amts
<TH>Dates
||TABLE000 <TR><TD align="left" nowrap>|1,N,0|<TD align="right">|2,N,0,,,MD2|<TD NOWRAP align="left">|3,N,0|<TD align="left">|4,N,0|<TD align="right">|6,N,0,,,MD2|<TD align="left">|7,N,0|<TD align="left">|8,N,0|<TD align="right">|9,N,0,,,MD2|<TD align="right">|10,N,0,,,MD2|<TD align="left">|11,N,0|<TD align="right">|12,N,0,,,MD2|<TD align="left">|5,N,0|<TD align="left">|13,N,0|<TD align="left">|14,N,0|<TD align="left">|15,N,0|<TD nowrap align="left">|16,N,0|<TD nowrap align="right">|17,N,0,,,|<TD nowrap align="left">|18,N,0|
</TABLE>
||SREND
