<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>COUNCIL INFORMATION </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="cis.coun"><INPUT TYPE=hidden NAME="tn" VALUE="cis_coun"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Name</B><TD> |2|
<TD CLASS="mm">
<B>Last Update</B><TD> |8,1,1,,,D2|
<TR>
<TD class="screen"colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Description</B><TD COLSPAN=3> |3|
<TR>
<TD class="screen"colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Contact</B><TD COLSPAN=3> |4|
<TR>
<TD class="screen"colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Community Directory</B><TD> |6|
<TD CLASS="mm">
<B>Restricted</B><TD> |7|
<TR>
<TD CLASS="mm">
<B>Source</B><TD COLSPAN=3> |5| 
<TR>
<TD class="screen"colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Subjects</B><TD COLSPAN=3> |1| 
</TABLE>
