||SRsr1680b
<TABLE WIDTH=95%>
<TR CLASS="top">
<TH><font size=-1>@@VAR01@@</font>
<TH><font size=-1>Current <BR> Value</font>
<TH><font size=-1>Future<BR> Value</font>
<TH><font size=-1>Variance <BR> $</font>
<TH><font size=-1>Variance <BR> %</font>
<TH><font size=-1>Current <BR> Rates </font>
<TH><font size=-1>Proposed <BR> Rates</font>
<TH><font size=-1>Variance<BR> $</font>
<TH><font size=-1>Variance <BR> %</font>
<TH><font size=-1>Address</font>
||TABLEA01 <TR><TD>|1,N,1|<TD ALIGN=RIGHT> |2,N,1|<TD ALIGN=RIGHT> |3,N,1|<TD ALIGN=RIGHT> |4,N,1|<TD ALIGN=RIGHT> |5,N,1|<TD ALIGN=RIGHT>|6,N,1,,,MD2|<TD ALIGN=RIGHT>|7,N,1,,,MD2|<TD ALIGN=RIGHT>|8,N,1,,,MD2|<TD ALIGN=RIGHT>|9,N,1|<TD>|10,N,1|
</TABLE>
||SREND