<HTML><HEAD>
<STYLE type="text/css">
<!--
TR {vertical-align: top;}
-->
</STYLE>

<H2>TA2829 Payroll history report (pays in given period)</H2>
||SRTA2829
<TABLE>
<TR CLASS="top">
<TH>
<TH>Employee
<TH>
<TH>Pay Date
<TH>Ordinary Hours
<TH>Ordinary Rate
<TH>Ordinary Wages
<TH>Overtime Hours
<TH>Overtime Rate
<TH>Overtime Wages
<TH>Other Description
<TH>Other Hours
<TH>Other Wages
<TH>Adj's/ Allow's
<TH>Gross Wages
<TH>Tax
<TH>Deductions
<TH>Net
||TABLE000 <TR> <TD>|1|<TD>|2|<TD>|3|<TD>|4|<TD>|5|<TD>|6|<TD>|7|<TD>|8|<TD>|9|<TD>|10|<TD>|11|<TD>|12|<TD>|13|<TD>|14|<TD>|15|<TD>|16|<TD>|17|<TD>|18|
</TABLE>
||SREND

