<TABLE width=95%>
<TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>CREDITOR INVOICE </FONT><font SIZE=+1 color="#663300">|0,,,,,G1*1|</font></B>
<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>
</TABLE>

<P>
<TABLE align=center>
<TR>
<TD CLASS="mm">
||IF,24,=,
<B>Creditor</B><TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=creditor&tn=creditor&item=|0,1,1,,,G*1|"><FONT CLASS=itemlnk>|0,1,1,,,G*1|</FONT></A> - |0,1,1,,,G*1~TCLIENT;7;1|
||IFEND
||IF,24,=,2
<B>Creditor</B><TD> <A HREF="/prospect/asp/bi.asp?fn=creditor&tn=creditor&item=|0,1,1,,,G*1|"><FONT CLASS=itemlnk>|0,1,1,,,G*1|</FONT></A> - |0,1,1,,,G*1~TCLIENT;7;1|
<TD ALIGN=CENTER COLSPAN=2 CLASS="mm">
<B> ** RECURRING ** </B>
||IFEND
<TR>
<TD CLASS="mm">
<B>Address</B><TD COLSPAN=3> |0,1,1,,,G*1~TCLIENT;2,1;3,1;4,1;5,1|
<TR>
<TD CLASS="mm">
<B>Tel</B><TD> |0,1,1,,,G*1~TCLIENT;9,1| , |0,1,1,,,G*1~TCLIENT;9,2| , |0,1,1,,,G*1~TCLIENT;9,3|
<TD CLASS="mm">
<B>Contact</B><TD> |0,1,1,,,G*1~TCLIENT;25|
<TR>
<TD COLSPAN=4 class="screen">&nbsp;
<TR>
<TD CLASS="mm">
<B>Invoice total</B><TD> |8,1,1,,,MD2| 
<TD CLASS="mm">
<B>Creditor Account Balance</B><TD> |0,1,1,,,G*1~TCREDITOR;1~MD2|
</TABLE>
||IF,42,#,
<P>
<TABLE align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Paid Amounts
<TH>Paid By
||TABLE000 <TR><TD ALIGN=RIGHT>|42,N,1,,,MD2|<TD>|41,N,1|
</TABLE>
||IFEND

<P>
<TABLE align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Invoice Date
<TH>Ledger Date
<TH>Posting Date
<TH>Batch Reference
<TR>
<TD>
|4,1,1,,,D2|
<TD>
|20,1,1,,,D2|
<TD>
|21,1,1,,,D2|
<TD>
|3,1,1|
</TABLE>
<P>

<TABLE align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Account
<TH>Description
<TH>Quantity
<TH>In Qty
<TH>Unit Price
<TH>Amount
<TH>GST
<TH>Goods Inwards
<TH>Purchase Order
||TABLE000 <TR><TD>|10,N,1,,,|<TD>|12,N,0|<TD ALIGN=RIGHT>|13,N,1|<TD ALIGN=RIGHT>|11,N,1|<TD ALIGN=RIGHT>|15,N,1,,,MD2|<TD ALIGN=RIGHT>|14,NT,1,,,MD2|<TD ALIGN=RIGHT>|36,NT,1,,,MD2|<TD>|6,N,1|<TD>|@,/prospect/asp/bi.asp?fn=purchase&tn=purchase&item=,5,N,1|
</TABLE>


