<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>CROSSOVER APPLICATION </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="crossovers"><INPUT TYPE=hidden NAME="tn" VALUE="crossovers"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE>
<TR>
<TD CLASS="mm">
<B>Assess</B><TD> <A HREF="bi.asp?fn=property&tn=property&item=|1,1,1|"><FONT CLASS=itemlnk>|1,1,1|</FONT></A> &nbsp;&nbsp; |1,1,1,,,TCLIENT;2;3|
<TR>
<TD CLASS="mm">
<B>Owner Name</B><TD> <A HREF="bi.asp?fn=client&tn=client&item=|1,1,1,,,TCLIENT;35|"><FONT CLASS=itemlnk>|1,1,1,,,TCLIENT;35|</FONT></A> &nbsp;&nbsp; |1,1,1,,,TCLIENT;35~TCLIENT;1|
<TR>
<TD CLASS="mm">
<B>Applicant</B><TD> <A HREF="bi.asp?fn=client&tn=client&item=|2,1,1|"><FONT CLASS=itemlnk>|2,1,1|</FONT></A> &nbsp;&nbsp; |2,1,1,,,TCLIENT;1;7;2,1;3,1|
<TR>
<TD CLASS="mm">
<B>Application Date</B><TD> |3,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Soil Type</B><TD> |4| &nbsp;&nbsp; |4,1,1,,@Y.,TBUILD.CODES;1|
<TR>
<TD CLASS="mm">
<B>Rate</B><TD> $|5,1,1,,,MD2| per sqm
<TR>
<TD CLASS="mm">
<B>Length (metres)</B><TD> |6,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Width (metres)</B><TD> |7,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Security Deposit</B><TD> $|8,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Crossover Fee</B><TD> $|9,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Stormwater Fee</B><TD> $|10,1,1,,,MD2| 
<TR>
<TD CLASS="mm">
<B>Quote Complete Date</B><TD> |11,1,1,,,D2|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Narrative</B><TD> |12,0,0|
</TABLE>
