<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>DEPOSITS FOR DATE </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="dict cash"><INPUT TYPE=hidden NAME="tn" VALUE="cash"><INPUT TYPE="text" NAME="item" SIZE=12 VALUE="|0,0,0,,,D2|"></FORM>
</TABLE>

<TABLE WIDTH=25%>
<TR CLASS="top">
<TH>Deposits
||IF,1,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|1,0,0,,,|D">|1|
||IFEND
||IF,2,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|2,0,0,,,|D">|2|
||IFEND
||IF,3,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|3,0,0,,,|D">|3|
||IFEND
||IF,4,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|4,0,0,,,|D">|4|
||IFEND
||IF,5,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|5,0,0,,,|D">|5|
||IFEND
||IF,6,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|6,0,0,,,|D">|6|
||IFEND
||IF,7,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|7,0,0,,,|D">|7|
||IFEND
||IF,8,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|8,0,0,,,|D">|8|
||IFEND
||IF,9,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|9,0,0,,,|D">|9|
||IFEND
||IF,10,#,
<TR><TD><A HREF="/prospect/asp/bi.asp?fn=dict cash&tn=cash_deposit&item=D|10,0,0,,,|D">|10|
||IFEND

</TABLE>
