<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>GENERAL LEDGER ACCOUNT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="@@PICKFILE@@"><INPUT TYPE=hidden NAME="tn" VALUE="gen_l"><INPUT TYPE="text" NAME="item" SIZE=10 VALUE="|0|"></FORM>
</TABLE>

<TABLE align=center CELLSPACING=1 CELLPADDING=1>
<TR>
<TD CLASS="mm">
<B>Description</B><TD width=50%> |2|
<TR>
<TD CLASS="mm">
<B>Balance of Account</B><TD> |16,0,0,,,dec2|
<TR>
<TD CLASS="mm">
<B>Budget</B><TD> |50,0,0,,,|
<TR>
<TD CLASS="mm">
<B>Commitment Balance</B><TD> |37,0,0,,,dec2|
</TABLE>
<P>

||SRsr_gen_l_month_values
<TABLE align=center>
<TH CLASS=thempty ALIGN=CENTER>THIS YEAR
<TH CLASS=thempty>&nbsp;
<TH CLASS=thempty ALIGN=CENTER>LAST YEAR
<TH CLASS=thempty>&nbsp;
<TH CLASS=thempty ALIGN=CENTER>NEXT YEAR
<TR>
<TD CLASS=tdempty>
	<TABLE BORDER=1 CELLSPACING=1 CELLPADDING=1>
	<TR CLASS="top">
	<TH>Month end
	<TH>Budget
	<TH>Actual
||TABLE012 <TR><TD NOWRAP>|1,N,|<TD NOWRAP ALIGN=RIGHT>|2,NT|<TD NOWRAP ALIGN=RIGHT>|3,NT,,,,dec2|
	</TABLE>
<TD CLASS=tdempty>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<TD CLASS=tdempty>
	<TABLE BORDER=1 CELLSPACING=1 CELLPADDING=1>
	<TR CLASS="top">
	<TH>Month end
	<TH>Budget
	<TH>Actual
||TABLE012 <TR><TD NOWRAP>|4,N,|<TD NOWRAP ALIGN=RIGHT>|5,NT|<TD NOWRAP ALIGN=RIGHT>|6,NT,,,,dec2|
	</TABLE>
<TD CLASS=tdempty>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<TD CLASS=tdempty>
	<TABLE BORDER=1 CELLSPACING=1 CELLPADDING=1>
	<TR CLASS="top">
	<TH>Month end
	<TH>Budget
	<TH>Actual
||TABLE012 <TR><TD NOWRAP>|7,N,|<TD NOWRAP ALIGN=RIGHT>|8,NT|<TD NOWRAP ALIGN=RIGHT>|9,NT,,,,dec2|
	</TABLE>
</TABLE>
||SREND

||IF,S
<P align=center>
<A HREF="buildsel.asp?fn=@@PATH@@\ckashare\gen_L\gen_L.mdb\gl_trans&tn=gl_trans&item=account&ref=|0|&by=by date desc">Click here to Display Transactions most recent first</A> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<P align=center>
<A HREF="buildsel.asp?fn=@@PATH@@\ckashare\gen_L\gen_L.mdb\gl_trans&tn=gl_trans&item=account&ref=|0|&by=by date">Click here to Display Transactions oldest first</A> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
||IFEND

<P align=center>
<A HREF="graphgl.asp?ref=|0|&fn=@@PICKFILE@@">Click here to graph these totals</A>

