<TABLE width=95%>
<TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>RISK ASSESSMENT </FONT><font SIZE=+1 color="#663300">|0|</font></B>
<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Premises</B><TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=eats&tn=eats&item=|1,1,1|"><FONT CLASS=itemlnk>|1,1,1,,,Teats;5|</FONT></A>
<TD CLASS="mm">
<B>Date</B><TD> |2,1,1|
<TR>
<TD CLASS="mm">
<B>Officer</B><TD COLSPAN=3> |4,1,1,,@S.,TEAT.CODES;1|
<TD CLASS="mm">
<B>Time taken</B><TD> |24,1,1,,,MD2|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Risk Summary</B><TD COLSPAN=3> |3,1,1|
<TD CLASS="mm">
<B>Next Date</B><TD> |7,1,1,,,D2|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Improvement Order</B><TD> |5,0,0|
<TD CLASS="mm">
<B>Complete By</B><TD> |13,1,1,,,D2|
<TD CLASS="mm">
<B>Notice Issued</B><TD> |18,1,1,,,D2|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Visit 2 Date</B><TD> |16,1,1,,,MD2|
<TD CLASS="mm">
<B>Officer</B><TD> |32,1,1,,@S.,TEAT.CODES;1|
<TD CLASS="mm">
<B>Took</B><TD> |25,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Visit 3 Date</B><TD> |19,1,1,,,MD2|
<TD CLASS="mm">
<B>Officer</B><TD> |33,1,1,,@S.,TEAT.CODES;1|
<TD CLASS="mm">
<B>Took</B><TD> |26,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Visit 4 Date</B><TD> |22,1,1,,,MD2|
<TD CLASS="mm">
<B>Officer</B><TD> |34,1,1,,@S.,TEAT.CODES;1|
<TD CLASS="mm">
<B>Took</B><TD> |27,1,1,,,MD2|
</TABLE>
<P>
<TABLE WIDTH=95%>
<TH>Item
<TH>Rating
<TH>Comment
<TH>Description
<TR>
||TABLE000 <TR><TD>|11,N,1|<TD>|12,N,1|<TD>|29,N,1|<TD>|11,N,1,,@I.,Teat.codes;1|
</TABLE>
