<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>PRODUCT GROUP </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="prd.grp"><INPUT TYPE=hidden NAME="tn" VALUE="prd_grp"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Description</B><TD>	|1|
<TR>
<TD CLASS="mm">
<B>Cost of Sales a/c</B><TD>  |3|
<TR>
<TD CLASS="mm">
<B>Stock-on-hand a/c</B><TD>  |7|
</TABLE>
<TR>
<TD CLASS="mm">
<B>Client</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>GST code</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Installation address</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Goods description</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Narrative</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Terms(amtxno amtxno)</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Desposit paid</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>First paydate</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Interest</B><TD>  |2|
<TD CLASS="mm">
<B>Pay due</B><TD>	|2|
<TD CLASS="mm">
<B>Pcp1 amt</B><TD>  |2|
<TD CLASS="mm">
<B>Int amt</B><TD>	|2|
<TD CLASS="mm">
<B>Total Invoice</B><TD>  |2|
<TD CLASS="mm">
<B>Inv date</B><TD>  |2|
<TD CLASS="mm">
<B>Inv amt</B><TD>	|2|
<TD CLASS="mm">
<B>Paid</B><TD>  |2|
