@@INPUT@@Asset

<TABLE WIDTH="100%" border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS="mm">
<B>Desc. 1</B><TD CLASS="mm"><input type="Text" name="3,1,1" value="|3,1,1|" size="46" maxlength="35">
<TD CLASS="mm"><B>Schedule</B>
<TD CLASS="mm"><input type="Text" name="52,1,1" value="|52,1,1|" size="46" maxlength="35">

<TR>
<TD CLASS="mm">
<B>Desc. 2</B><TD CLASS="mm"><input type="Text" name="3,2,1" value="|3,2,1|" size="46" maxlength="35">

<TD CLASS="mm"><B>Location</B>
<TD CLASS="mm">
<select name="sel4">
||OPTIONS|SSELECT|location|4|@@PATH@@\ckashare\assets\assets.mdb\location|1|
</select>

<TR>
<TD CLASS="mm">
<B>Desc. 3</B><TD CLASS="mm"><input type="Text" name="3,3,1" value="|3,3,1|" size="46" maxlength="35">
<TD CLASS="mm">
<B>Class</B>
<TD CLASS="mm">
<select name="sel97" > 
||OPTIONS|SSELECT|class|97|@@PATH@@\ckashare\assets\assets.mdb\class|1|
</select>

<TR>
<TD CLASS="mm">
<B>Assessment</B><TD CLASS="mm"><A HREF="/prospect/asp/bi.asp?fn=property&tn=property&item=|95,1,1|"><FONT CLASS=itemlnk>|95,1,1|</FONT></A>|95,1,1,Assessment,,TCLIENT;2|
<TD CLASS="mm">
<B>Group</B>
<TD CLASS="mm">
<select name="sel37" > 
||OPTIONS|SSELECT|[group]|37|@@PATH@@\ckashare\assets\assets.mdb\group|1|
</select>


</TABLE>
<TABLE  WIDTH="100%" border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS="mm">
<B>Purchased</B><TD CLASS="mm"><input type="Text" name="5,1,1,Purchased,,D2" value="|5,1,1,,,D2|" size="18" maxlength="10">
<TD CLASS="mm">
<B>Cost Price</B><TD CLASS="mm"><input type="Text" name="6,1,1,Cost Price,,MD2" value="|6,1,1,,,MD2|" size="19" maxlength="10">
<TD CLASS="mm">
<B>Reference</B><TD CLASS="mm"><input type="Text" name="26" value="|26|" align="LEFT" size="22" maxlength="10">
<TR>
<TD CLASS="mm">
<B>Current Value</B><TD CLASS="mm"><input type="Text" name="12,1,1,Current Value,,MD2" value="|12,1,1,,,MD2|" align="LEFT" size="18" maxlength="10">
<TD CLASS="mm">
<B>Insurance Value</B><TD CLASS="mm"><input type="Text" name="96,1,1,Insurance Value,,MD2" value="|96,1,1,,,MD2|" align="LEFT" size="19" maxlength="10">
<TD CLASS="mm">
<B>Residual Value</B><TD CLASS="mm"><input type="Text" name="42,1,1,Residual Value,,MD2" value="|42,1,1,,,MD2|" align="LEFT" size="22" maxlength="10">
<TR>
<TD CLASS="mm">
<B>Provision for Dep'n</B><TD CLASS="mm" COLSPAN=1> <input type="Text" name="1,1,1,Provision for Depn,,TGEN.L;2" value="|1,1,1,,,TGEN.L;2|" align="LEFT" size="18" maxlength="15">|1|
<TD CLASS="mm">
<B>Depreciation Expense</B><TD CLASS="mm" COLSPAN=1>  <input type="Text" name="2,1,1,Depreciation Expense,,TGEN.L;2" value="|2,1,1,,,TGEN.L;2|" align="LEFT" size="19" maxlength="15"> |2|
<TD CLASS="mm">
<B>Yr Open Balance</B><TD CLASS="mm"><input type="Text" name="13,1,1,Opening Balance,,MD2" value="|13,1,1,,,MD2|" align="LEFT" size="22" maxlength="15"> 
<tr>
<TD CLASS="mm">
<B>Last Depreciated</B><TD CLASS="mm" colspan=2><input type="Text" name="10,2,1,Last Depreciated,,D2" value="|10,2,1,,,D2|" align="LEFT" size="39" maxlength="30"> 
<TD CLASS="mm">
<B>Rate</B><TD CLASS="mm" colspan=2><input type="Text" name="8,1,1,Depn Rate,,MD2" value="|8,1,1,,,MD2|" align="LEFT" size="38" maxlength="30">
<tr>
<TD CLASS="mm">
<B>Type</B><TD CLASS="mm" colspan=2><input type="Text" name="7" type" value="|7|" align="LEFT" size="39" maxlength="30"> 
<TD CLASS="mm">
<B>Frequency</B><TD CLASS="mm" colspan=2><input type="Text" name="9" value="|9|" align="LEFT" size="38" maxlength="30">
</TABLE>

<TABLE  WIDTH="100%" border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS="mm">
<B>Make</B><TD CLASS="mm"><input type="Text" name="98" value="|98|" align="LEFT" size="24" maxlength="20">
<TD CLASS="mm">
<B>Model No.</B><TD CLASS="mm"><input type="Text" name="93" value="|93|" align="LEFT" size="24" maxlength="20">
<TD CLASS="mm">
<B>Registration No.</B><TD CLASS="mm"><input type="Text" name="41" value="|41|" align="LEFT" size="24" maxlength="20"> 
<TR>
<TD CLASS="mm">
<B>Serial No.</B><TD CLASS="mm"><input type="Text" name="94" value="|94|" align="LEFT" size="24" maxlength="20">
<TD CLASS="mm">
<B>Engine No.</B><TD CLASS="mm"><input type="Text" name="39" value="|39|" align="LEFT" size="24" maxlength="20">
<TD CLASS="mm">
<B>Chassis No.</B><TD CLASS="mm"><input type="Text" name="40" value="|40|" align="LEFT" size="24" maxlength="20">
</TABLE>
</form>


