<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>Deposit Number </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="property"><INPUT TYPE=hidden NAME="tn" VALUE="property_charging"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

||SRbankit_read
|1|
<P>
The bank file name |2|
<P>
|3|
<P>
<TABLE WIDTH=95%>
<TR CLASS="top">
<TH>Category
<TH>Value
<TH>Effective Date
<TH>Rate Code
||TABLE000 <TR><TD> |4,N,1|<TD> |5,N,1|<TD> |6,N,1|<TD> |7,N,1|
</TABLE>

||SREND
