@@INPUT@@Building - Soil Type Codes
<TABLE align=center border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS=top><B>Description</B>
<TD><INPUT type="Text" name="C1,0,0" value="|1|" size="35">
<TD CLASS=top><B>Rate</B>
<TD><input type="Text" name="C2,0,0,Rate,,MD2" value="|2,0,0,,,MD2|">
</TABLE>
</FORM>

<FORM  NAME="building_codes">
<TABLE align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Code
<TH>Description
<TH>Rate
||TABLESEL <TR><TD>|0,0,0,,,|<TD>|1|<TD>|2,0,0,,,MD2|
@@PATH@@\ckashare\build\build.mdb,@@PATH@@\ckashare\build\build.mdb\soil,select * from soil order by soil
</TABLE>
</FORM>


