@@INPUT@@Sundry Debtor 

<TABLE align=center border="1" cellspacing="1" cellpadding="1">

<TR class=item>
        <TD CLASS="top"><B>Consolidate To Debtor</B>
        <TD class=top><input name="19,0,0,Consolidate To Debtor" value="|19|" size=10>

<TR class=item>
        <TD CLASS="top"><B>Unpaid Transactions</B>
		<TD class=top>
<select name="sel23">
||OPTIONS|SSELECT|dr_trans|23|@@PATH@@\ckashare\debtors\debtors.mdb\glcontrols|1|
</select>


</TABLE>
</FORM>


</BODY>
</HTML>
