@@INPUT@@Filing Index

<TABLE WIDTH="100%" border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS="mm"><B>Title Line 1</B>
<TD><input type="Text" name="1,1,0" value="|1,1,0|" size="35" maxlength="35">
<TR>
<TD CLASS="mm"><B>Title Line 2</B>
<TD><input type="Text" name="1,2,0" value="|1,2,0|" size="35" maxlength="35">
<TR>
<TD CLASS="mm"><B>Title Line 3</B>
<TD><input type="Text" name="1,3,0" value="|1,3,0|" size="35" maxlength="35">

<TR>
<TD CLASS="mm"><B>Contents</B>
<TD><input type="Text" name="3,0,0" value="|3,0,0|" size="35" maxlength="35">

<TR>
<TD CLASS="mm"><B>Retention</B>
<TD><input type="Text" name="4,0,0,Retention,," value="|4,0,0,,,|" align="LEFT" size="30" maxlength="10"> 

<TR>
<TD CLASS="mm"><B>Statutory</B>
<TD><input type="Text" name="5,0,0,Statutory" value="|5,0,0|" align="LEFT" size="30" maxlength="10"> 

<TR>
<TD CLASS="mm"><B>Review Date</B>
<TD><input type="Text" name="6,1,1,Review Date,,D2" value="|6,1,1,,,D2|" align="LEFT" size="10" maxlength="10"> 

</TABLE>
</form>
