@@INPUTM@@Байрлал

<TABLE align=center border=1 cellspacing=1 cellpadding=1>
<TR>
<TD class=top><B>Англи тодорхойлолт</B>
<TD class=top><INPUT size=40% name="1,,,Description" value="|1|">
<TR>
<TD class=top><B>Монгол тодорхойлолт</B>
<TD class=top>|2,0,0,,,mongol|
<TR>
<TD class=top><B> Монгол шинэ тодорхойлолт</B>
<TD class=top><INPUT size=40% name="2,,,Mongolian Description" value="|2,0,0,,,mongol|">
</TABLE>
</FORM>

<FORM>
<TABLE align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Байрлал
<TH>Англи тодoрхойлолт
<TH>Монгол тодoрхойлолт
||TABLESEL <TR><TD>|0|<TD>|1|<TD>|2,0,0,,mongol|
@@PATH@@\ckashare\gen_l\gen_l.mdb,@@PATH@@\ckashare\gen_l\gen_l.mdb\lev3,select * from lev3 order by lev3
</TABLE>
</FORM>
