@@INPUT@@General Ledger Period End Dates
<BR>
<TABLE WIDTH=30% align=center border=1 cellspacing=1 cellpadding=1>
<TR>
<TD class=top><B>Period 1</B>
<TD class=top><INPUT type="Text" size=10% name="C1,,,Period 1,,D2X" value="|1|">
<TR class=item>
<TD class=top><B>Period 2</B>
<TD class=top><INPUT type="Text" size=10% name="C2,,,Period 2,,D2X" value="|2|">
<TR class=item>
<TD class=top><B>Period 3</B>
<TD class=top><INPUT type="Text" size=10% name="C3,,,Period 3,,D2X" value="|3|">
<TR class=item>
<TD class=top><B>Period 4</B>
<TD class=top><INPUT type="Text" size=10% name="C4,,,Period 4,,D2X" value="|4|">
<TR class=item>
<TD class=top><B>Period 5</B>
<TD class=top><INPUT type="Text" size=10% name="C5,,,Period 5,,D2X" value="|5|">
<TR class=item>
<TD class=top><B>Period 6</B>
<TD class=top><INPUT type="Text" size=10% name="C6,,,Period 6,,D2X" value="|6|">
<TR class=item>
<TD class=top><B>Period 7</B>
<TD class=top><INPUT type="Text" size=10% name="C7,,,Period 7,,D2X" value="|7|">
<TR class=item>
<TD class=top><B>Period 8</B>
<TD class=top><INPUT type="Text" size=10% name="C8,,,Period 8,,D2X" value="|8|">
<TR class=item>
<TD class=top><B>Period 9</B>
<TD class=top><INPUT type="Text" size=10% name="C9,,,Period 9,,D2X" value="|9|">
<TR class=item>
<TD class=top><B>Period 10</B>
<TD class=top><INPUT type="Text" size=10% name="C10,,,Period 10,,D2X" value="|10|">
<TR class=item>
<TD class=top><B>Period 11</B>
<TD class=top><INPUT type="Text" size=10% name="C11,,,Period 11,,D2X" value="|11|">
<TR class=item>
<TD class=top><B>Period 12</B>
<TD class=top><INPUT type="Text" size=10% name="C12,,,Period 12,,D2X" value="|12|">
</TABLE>
</FORM>

<FORM>
<TABLE WIDTH=95% align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Year
<TH>Period 1
<TH>Period 2
<TH>Period 3
<TH>Period 4
<TH>Period 5
<TH>Period 6
<TH>Period 7
<TH>Period 8
<TH>Period 9
<TH>Period 10
<TH>Period 11
<TH>Period 12
||TABLESEL <TR CLASS="mm"><TD>|0|<TD>|1|<TD>|2|<TD>|3|<TD>|4|<TD>|5|<TD>|6|<TD>|7|<TD>|8|<TD>|9|<TD>|10|<TD>|11|<TD>|12|
@@PATH@@\ckashare\gen_l\gen_l.mdb,@@PATH@@\ckashare\gen_l\gen_l.mdb\monthends,select * from monthends order by Year
</TABLE>
</FORM>




