@@INPUTM@@Тайлангийн тєрєл
<TABLE align=center border=1 cellspacing=1 cellpadding=1>
<TR>
<TD class=top><B>Англи тодорхойлолт</B>
<TD class=top><INPUT type="Text" size=40% name="1,,,Description" value="|1|">
</TABLE>
</FORM>

<FORM>
<TABLE align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Tєрєл
<TH>Tодорхойлолт
<TH>Монгол тодорхойлолт
||TABLESEL <TR><TD>|0|<TD>|1|<TD>|2,0,0,,mongol|
@@PATH@@\ckashare\gen_l\gen_l.mdb,@@PATH@@\ckashare\gen_l\gen_l.mdb\rtype,select * from rtype order by description
</TABLE>
</FORM>



