@@INPUT@@Waste Water Separation - Debtor 
<TABLE WIDTH="95%" border="0" cellspacing="1" cellpadding="1">
<TR class=item></TR>
</TABLE>
    <TABLE WIDTH="95%" border="1" cellspacing="1" cellpadding="1">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">Surname
        <TD colspan="5"><input CLASS="smallTxt" name="1,0,0,Surname" value="|1,0,0|" align="left" size="100" maxlength="100">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102" >Initials
        <TD><input CLASS="smallTxt" name="6,0,0,Initials" value="|6,0,0|" align="left" size="10" maxlength="10">
        <TD CLASS="itemname">First Name(s)
        <TD><input CLASS="smallTxt" name="7,0,0,Firstname" value="|7,0,0|" align="left" size="50" maxlength="70">
        <TD CLASS="itemname">Title
        <TD><input CLASS="smallTxt" name="8,0,0,Title" value="|8,0,0|" align="left" size="10" maxlength="10">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">Residential Address
        <TD CLASS="itemname">Line 1
        <TD colspan="4"><input CLASS="smallTxt" name="2,2,0,raddress1" value="|2,2,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname">Line 2
        <TD colspan="4"><input CLASS="smallTxt" name="3,2,0,raddress2" value="|3,2,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname">Line 3
        <TD colspan="4"><input CLASS="smallTxt" name="4,2,0,raddress3" value="|4,2,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname">Post Code
        <TD colspan="4"><input CLASS="smallTxt" name="5,2,0,rpostcode,,MD0" value="|5,2,0|" align="left" size="10" maxlength="10" >
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">Postal Address
        <TD CLASS="itemname">Line 1
        <TD colspan="4"><input CLASS="smallTxt" name="2,1,0,paddress1" value="|2,1,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname">Line 2
        <TD colspan="4"><input CLASS="smallTxt" name="3,1,0,paddress2" value="|3,1,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname">Line 3
        <TD colspan="4"><input CLASS="smallTxt" name="4,1,0,paddress3" value="|4,2,0|" align="left" size="80" maxlength="80">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">
        <TD CLASS="itemname" WIDTH="92">Post Code
        <TD colspan="4"><input CLASS="smallTxt" name="5,1,0,ppostcode,,MD0" value="|5,1,0|" align="left" size="10" maxlength="10" >
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">Business Phone
        <TD><input CLASS="smallTxt" name="9,1,0,bphone" value="|9,1,0|" align="left" size="20" maxlength="20">
        <TD CLASS="itemname" WIDTH = "92">Private Phone
        <TD><input CLASS="smallTxt" name="9,2,0,pphone" value="|9,2,0|" align="left" size="20" maxlength="20">
        <TD CLASS="itemname" WIDTH="60">Fax
        <TD WIDTH="92"><input CLASS="smallTxt" name="9,3,0,fax" value="|9,3,0|" align="left" size="20" maxlength="20">
    <TR class=item>
        <TD CLASS="itemname" WIDTH="102">E-Mail
        <TD colspan="5"><input CLASS="smallTxt" name="9,4,0,email" value="|9,4,0|" align="left" size="80" maxlength="80" >
</TABLE></TABLE>
</FORM></BODY></HTML>
