@@INPUT@@Lender
<TABLE WIDTH=95% align=center border=1 cellspacing=1 cellpadding=1>
<TR>
<TD class=top><B>Name</B>
<TD class=top><INPUT type="Text" size=40% name="C1,,,Name" value="|1|">
<TD class=top><B>Contact</B>
<TD class=top><INPUT type="Text" size=40% name="2" value="|2|">
<TR>
<TD class=top><B>Address</B>
<TD class=top><INPUT type="Text" size=40% name="3" value="|3|">
</TABLE>
</FORM>

<FORM>
<TABLE WIDTH=95% align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Lender
<TH>Name
<TH>Contact
<TH>Address
||TABLESEL <TR><TD>|0|<TD>|1|<TD>|2|<TD>|3|<TD>
@@PATH@@\ckashare\loan\loan.mdb,@@PATH@@\ckashare\loan\loan.mdb\lender,select * from lender order by lender
</TABLE>
</FORM>



