<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>INVESTMENT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="invest"><INPUT TYPE=hidden NAME="tn" VALUE="invest"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE width ALIGN=CENTER BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR>
<TD CLASS="mm">
<B>Certificate</B><TD> |1|
<TR>
<TD CLASS="mm">
<B>Amount</B><TD> |2,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Date</B><TD> |3,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Maturity</B><TD> |4,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Interest Rate</B><TD> |5,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Interest Type</B><TD> |6|
<TR>
<TD CLASS="mm">
<B>Date Effective</B><TD> |7,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Type of Invest.</B><TD> |8| &nbsp;&nbsp; |8,1,1,,@T.,TINVEST.CODES;1|
<TR>
<TD CLASS="mm">
<B>Lodged Through</B><TD> |9|
<TR>
<TD CLASS="mm">
<B>Borrower</B><TD> |10,1,1,,,Tborrower;1| &nbsp;&nbsp; |10,1,1,,,Tborrower;3,1;3,2;3,3|
<TR>
<TD CLASS="mm">
<B>Source of Invest.</B><TD> |14| &nbsp;&nbsp; |14,1,1,,@S.,TINVEST.CODES;1|
<TR>
<TD CLASS="mm">
<B>Status of Invest.</B><TD> |15|
<TR>
<TD CLASS="mm">
<B>Security Held</B><TD> |16|
<TR>
<TD CLASS="mm">
<B>Memo</B><TD> |17,1,1| <br> |17,2,1| <br> |17,3,1|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Total interest due to date</B><TD ALIGN=RIGHT>|-1,0,0,,,sr_5420|
</TABLE>
