@@INPUT@@Payroll Scale File

<INPUT id=select4 name=select4 value="|4,V|" type="hidden">

<TABLE WIDTH="95%" border="1" cellspacing="3" cellpadding="1">
 <TR> 
    <TD CLASS="mm"><B>code</B> 
 <TR> 
    <TD CLASS="mm"><B>Description</B> 
    <TD> 
      <INPUT type="Text" name="C1,0,0" value="|1|" size="35">
</TABLE>
</FORM>


<FORM  NAME="pp_cc">
<TABLE WIDTH="95%">
<TR CLASS="top">
<TH>Code
<TH>Description

||TABLESEL <TR><TD>|0,0,0|<TD>|1|
,pp.scale,sselect pp.scale by a1
</TABLE>
</FORM>

<SCRIPT LANGUAGE="JavaScript">
function GetAssessAddress(Address,AssessNum)
 {
   ASPpage = RSGetASPObject("DllCalls.asp");
   co = ASPpage.BuildString(AssessNum,"TACCOUNTDESC");
   Address.innerHTML=co.return_value;
}
</SCRIPT>

