-@@INPUT@@Payroll datact File

<INPUT id=select4 name=select4 value="|4,V|" type="hidden">

<TABLE WIDTH="100%" border="1" cellspacing="3" cellpadding="1">
<TR>
<TD CLASS="mm"><B>Description</B>
<TD><INPUT type="Text" name="C1,0,0" value="|1|" size="35">

<TR>
<TD CLASS="mm" WIDTH="102">Deduct.Type
<TD>
<select name="sel2">
||OPTIONS|SSELECT|pp.Deduct.type by a1|2|pp.Deduct.Type|1|
</select>

<TR>
<TD CLASS="mm"><B>G/C code</B>
<TD><input type="Text" name="3,0,0,,,MD2" value="|3,0,0,,,MD2|">


<TR>
<TD CLASS="mm"><B>Address</B>
<TD> <I CLASS="input" ID=MSEL4>|4,0,0,,,TPP.ALLOW;1|</I>
<TD CLASS="itemname"><B>Select From List</B>

<TD>
<select  name="hide4" multiple size=@@SIZE@@>
||OPTIONS|SSELECT|pp.allow by a1|4|pp.allow|1|
</select>
 
<TR>
<TD CLASS="mm"><B>Commission Rate</B>
<TD><input type="Text" name="5,0,0" value="|5,0,0|">

<TR>
<TD CLASS="mm"><B>Percentage or Amount Deduction</B>
<TD><input type="Text" name="5,0,0" value="|5,0,0|">

<TR>
<TD CLASS="mm"><B>Employer Pre-paid Contributions</B>
<TD><input type="Text" name="5,0,0" value="|5,0,0|">

<TR>
<TD CLASS="mm"><B>Net % Amount to report</B>
<TD><input type="Text" name="5,0,0" value="|5,0,0|">

<TR>
<TD CLASS="mm"><B>General Ledger</B>
<TD><input type="Text" name="5,0,0" value="|5,0,0|">
</TABLE>
</FORM>



<FORM  NAME="pp_datact">
<TABLE WIDTH="95%">
<TR CLASS="top">
<TH>Description
<TH>Deduct.Type
<TH>G/C code
<TH>Address
<TH>Commission Rate
<TH>Percentage or Amount Deduction
<TH>Employer Pre-paid Contributions
<TH>Net % Amount report
<TH>General Ledger
||TABLESEL <TR><TD>|0,0,0|<TD>|1|<TD>|2,0,0,,,TPP.AWARD;1|<TD ALIGN="right">|3,0,0,,,MD2|<TD>|4,0,0,,,TPP.ALLOW;1|<TD>|5|
,pp.pos,sselect pp.pos by a1
</TABLE>
</FORM>

