<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>STOCK ISSUE </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="issue"><INPUT TYPE=hidden NAME="tn" VALUE="issue"><INPUT TYPE="text" NAME="item" SIZE=10 VALUE="|0|"></FORM>
</TABLE>

<TABLE align=center>
<TR>
<TD CLASS="mm"><B>Batch</B> <TD> |7|
<TR>
<TD CLASS="mm"><B>Issue from Branch</B> <TD>
<TABLE WIDTH=100%>
	||TABLE000 <TR><TD>|6,N,1|<TD ALIGN=center class=tdempty>|6,N,1,,,TBranch;1|
	</TABLE>
<TR>
<TD CLASS="mm"><B>Issue Date</B> <TD> |2,0,0,,,D2|
<TR>
<TD CLASS="mm"><B>Total Requisition Qty</B> <TD> |3,0,0,,,MD2|
</TABLE>
<P>
<TABLE align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Product
<TH>Description
<TH>Issued To
<TH>Description
<TH>Quantity
<TH>Value
<TH>Odometer
||TABLE000 <TR><TD> |@,/prospect/asp/bi.asp?fn=stock&tn=stock&item=,4,N,1| <TD> |@,/prospect/asp/bi.asp?fn=stock&tn=stock&item=,4,N,1,,,Tstock;1| &nbsp;<TD> |1,1,0| <TD> |1,1,0,,,Taccountdesc| &nbsp;<TD ALIGN="right"> |5,NT,1,,,MD2| <TD ALIGN="right"> |8,NT,1,,,MD2| <TD>&nbsp; |11,1,0|
</TABLE>
