@@INPUT@@Sales Unit
</TABLE>
</FORM>

<FORM>
<TABLE WIDTH=25% align=center border=1 cellspacing=1 cellpadding=1>
<TR CLASS=top>
<TH>Sales Unit
||TABLESEL <TR><TD>|0|1,0,0,,,T@@PATH@@\ckashare\stock\stock.mdb\class;1|
@@PATH@@\ckashare\stock\stock.mdb,@@PATH@@\ckashare\stock\stock.mdb\sales_units,select * from sales_units order by [sales unit]
</TABLE>
</FORM>

<SCRIPT LANGUAGE="JavaScript">
function GetAssessAddress(Address,AssessNum)
 {
   while (RSAspProxyApplet.readyState != 4) {}
   ASPpage = RSGetASPObject("DllCalls.asp");
   co = ASPpage.BuildString(AssessNum,"T@@PATH@@!ckashare!investments!investments.mdb!class;1");
   Address.innerHTML=co.return_value;
}
</SCRIPT>



