<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>JOB CARD </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="job.card"><INPUT TYPE=hidden NAME="tn" VALUE="job_card"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>
<P align=center><B>|10|</B>
<P>
<TABLE align=center>
<TR>
<TD CLASS="mm">
<B>Plant Number</B><TD> <A HREF="bi.asp?fn=job.l&tn=job_l&item=|2|"><FONT CLASS=itemlnk>|2|</FONT></A>&nbsp;&nbsp;|2,1,1,,,Tasset;3,1,1|
<TR>
<TD CLASS="mm">
<B>Service Sheet</B><TD> |3,1,1|
<TR>
<TD CLASS="mm">
<B>Date Scheduled</B><TD> |4,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Date Completed</B><TD> |5,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Followup Date</B><TD> |12,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Followup Done</B><TD> |13,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Time Taken</B><TD> |6,1,1,,,MD2|
<TR>
<TD CLASS="mm">
<B>Reading</B><TD> |7,1,1|&nbsp;&nbsp;|11,1,1|
<TR>
<TD CLASS="mm">
<B>Next Service</B><TD> |14,1,1|
<TR>
<TD CLASS="mm">
<B>Contact</B><TD> |8,1,1|
<TR>
<TD CLASS="mm">
<B>Authorised</B><TD> |9,1,1|
</TABLE>

