<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>JOURNAL </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="journal"><INPUT TYPE=hidden NAME="tn" VALUE="journal"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE align=center>
<TR>
<TD CLASS="mm">
<B>Date</B><TD> |7,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Narrative</B><TD> |6,1,1|
<TR>
<TD CLASS="mm">
<B>Date of Entry</B><TD> |8,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Operator</B><TD> |8,2,1|
</TABLE>

<TABLE WIDTH=95% align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS=top>
<TH>Account
<TH>Description
<TH>Debit
<TH>Credit
||TABLE000 <TR><TD align="left">|3,NB,1|<TD>|3,N,1,,,TACCOUNTDESC|<TD ALIGN=RIGHT>|2,NT,1,,,MD2|<TD ALIGN=RIGHT>|4,NT,1,,,MD2|
</TABLE>

