<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>MAINTENANCE AGREEMENT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="maint"><INPUT TYPE=hidden NAME="tn" VALUE="maint"><INPUT TYPE="text" NAME="item" SIZE=10 VALUE="|0|"></FORM>
</TABLE>
<TABLE  width= "95%" ALIGN=CENTER BORDER=0 CELLSPACING=1 CELLPADDING=1>
<TR>    
<TD CLASS="mm">
<B>Description</B><TD class="data" > |1|
<TR>
<TD CLASS="mm"><B>Debtor</B>
<TD class="data"> <A HREF="/prospect/asp/bi.asp?fn=client&tn=client&item=|0,0,0,,,G*1|"> |0,0,0,,,G*1|</A> |0,0,0,,,G*1~TCLIENT;7;1|
<TR>    
<TD CLASS="mm">
<B>Location</B><TD class="data"> |2| 
<TD CLASS="mm">
<B>Installation Date</B><TD class="data"> |3,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Start Date</B><TD class="data"> |5,1,1,,,D2|
<TD CLASS="mm">
<B>End Date</B><TD class="data"> |6,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Billed to Date</B><TD class="data"> |7,1,1,,,D2|
<TD CLASS="mm">
<B>Frequency of Billing</B><TD class="data"> |8,1,1|
<TR>
<TD CLASS="mm"><B>Billing Narrative</B><TD class="data" colspan="3"> |10,1,1|
</TABLE>
<p>
<TABLE  width= "95%" ALIGN=CENTER BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS=top>
<TH width="25%">Applicable Dates
<TH width="25%">GL Account
<TH width="25%">Rate
<TH width="25%">GST
||TABLE000 <TR> <TD>|4,N,1,,,D2|<TD >|11,N,1|<TD align="right">$|9,N,1,,,MD2|<TD align="right">$|14,N,1,,,MD2|
</TABLE>
<P>
||IF,12,#,
<TABLE  width= "95%" ALIGN=CENTER BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS=top>
<TH>Date
<TH>Invoice Reference
<TH> Description
<TH> Amount
||TABLE000 <TR> <TD>|12,N,1,,,Tinvoice;20~D2|<TD> |@,/prospect/asp/bi.asp?fn=invoice&tn=invoice&item=,12,N,1,,,TINVOICE;0|<TD>|12,N,1,,,TINVOICE;12,1|<TD align="right">$|12,N,1,,,TINVOICE;8~MD2|
</TABLE>
||IFEND