<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>PARKING INFRINGEMENT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="parking"><INPUT TYPE=hidden NAME="tn" VALUE="parking"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Name</B><TD> |1,1,1|
<TD CLASS="mm">
<B>Date of Birth</B><TD> |2,1,1,,,D2|
<TD CLASS="mm">
<B>Age</B><TD> |8,1,1|
<TD CLASS="mm">
<B>Sex</B><TD> |9,1,1|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>City</B><TD> |3,1,1|
<TD CLASS="mm">
<B>District</B><TD> |4,1,1|
<TD CLASS="mm">
<B>Micro-District</B><TD> |5,1,1|
<TR>
<TD CLASS="mm">
<B>Apartment</B><TD> |6,1,1|
<TD CLASS="mm">
<B>Phone</B><TD> |7,1,1|
<TR>
<TD class="tdempty">&nbsp;
<TR>
<TD CLASS="mm">
<B>Passport</B><TD> |10,1,1|
<TD CLASS="mm">
<B>Nationality</B><TD> |11,1,1|
<TD CLASS="mm">
<B>Registration</B><TD> |12,1,1|
</TABLE>
