<TABLE width=90%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>PARKING INFRINGEMENT </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="parking"><INPUT TYPE=hidden NAME="tn" VALUE="parking"><INPUT TYPE="text" NAME="item" SIZE=8 VALUE="|0|"></FORM>
</TABLE>

<h1 align=center>Offence Details</h1>
<b>Vehicle</b>
<TABLE width=100%>
<TR>
<TD CLASS="mm">
<B>Registration</B><TD colspan="7"> <B><A HREF="/prospect/asp/bparking.asp?fn=parking&tn=parking&query=qselect parking.xref |2| (1">|2|</A></B>
<TR>
<TD CLASS="mm">
<B>Type</B><TD> |5|
<TD CLASS="mm">
<B>Make</B><TD> |4|
<TD CLASS="mm">
<B>Colour</B><TD> |6|
<TD CLASS="mm">
<B>Tax Exp</B><TD> |3|
</TABLE>
<BR>
<b>Offence</b>
<TABLE width=100%>
<TD CLASS="mm">
<B>Officer</B><TD> |17|
<TD CLASS="mm">
<B>Issued</B><TD> |7,1,1,,,D2|
<TD CLASS="mm">
<B>TimeTo</B><TD> |9,1,1,,,MT|
<TD CLASS="mm">
<B>TimeFrom</B><TD> |8,1,1,,,MT|
<TD CLASS="mm">
<B>Penalty</B><TD> $|19,1,1,,,MD2|
<TR>
<TD class="screen" colspan=10>&nbsp;
<TR>
<TD CLASS="mm">
<B>Offence Number</B><TD colspan=4> |10|
<TD CLASS="mm">
<B>Inspector Remarks</B><TD COLSPAN=4> |18|
<TR>
<TD CLASS="mm">
<B>Location</B><TD colspan=2> |11|
<TD CLASS="mm">
<B>Suburb</B><TD COLSPAN=2> |68|
<TD CLASS="mm">
<B>Side of Street</B><TD> |12|
<TD CLASS="mm">
<B>Facing</B><TD> |15|
<TR>
<TD CLASS="mm">
<B>State</B><TD colspan=2> |67|
<TD CLASS="mm">
<B>Between Street</B><TD colspan=2> |13|
<TD CLASS="mm">
<B>And Street</B><TD colspan=3> |14|
<TR>
<TD class="screen" colspan=10>&nbsp;
<TR>
<TD CLASS="mm">
<B>Sign</B><TD colspan=2> |16|
<TD CLASS="mm">
<B>Signs</B><TD colspan=2> |69|
<TD CLASS="mm">
<B>Sign From</B><TD> |70|
<TD CLASS="mm">
<B>Sign To</B><TD> |71|
<TR>
<TD CLASS="mm">
<B>DistFRToSign</B><TD colspan=2> |75|
<TD CLASS="mm">
<B>DistRRToSign</B><TD colspan=2> |76|
<TD CLASS="mm">
<B>Traffic Cond</B><TD> |73|
<TD CLASS="mm">
<B>Meter No</B><TD> |74|
<TR>
<TD CLASS="mm">
<B>HHIdDueDate</B><TD colspan=2> |72|
<TD CLASS="mm">
<B>Reg Category</B><TD colspan=2> |77|
<TD CLASS="mm">
<B>Issue Mode</B><TD> |78|
<TD CLASS="mm">
<B>Void Time</B><TD> |79|
<TR>
<TD CLASS="mm">
<B>RelssPinNum</B><TD colspan=9> |80|
</TABLE>

<h1 align=center>Summary</h1>
<TABLE WIDTH=100%>
<TR>
<TD CLASS="mm" width=30%>
<B>Status</B><TD> <FONT COLOR="red"><B>|25,1,0|</B></FONT>
<TR>
<TD CLASS="mm">
<B>Registration</B><TD> <B><A HREF="/prospect/asp/bparking.asp?fn=parking&tn=parking&query=qselect parking.xref |2,1,1| (1">|2,1,1|</A></B>
<TR>
<TD CLASS="mm">
<B>Name</B><TD> |2,0,0,,,TPARKING.XREF;8|
<TR>
<TD class="screen" colspan=2>&nbsp;
<TR>
<TD CLASS="mm">
<B>Offence</B><TD> |10,1,0|
<TR>
<TD CLASS="mm">
<B>Penalty</B><TD> |19,1,0,,,MD2|
<TR>
<TD CLASS="mm">
<B>Issued</B><TD> |7,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Balance</B><TD> |20,1,0|
<TR>
<TD CLASS="mm">
<B>Paid</B><TD> |22,1,0,,,MD2|
</TABLE>
<P>
<h1 align=center>Name &amp; Address</h1>
<b>Owner</b>
<TABLE WIDTH=100%>
<TR>
<TD CLASS="mm" width=30%>
<B>Name</B><TD> |2,0,0,,,TPARKING.XREF;8|
<TR>
<TD CLASS="mm">
<B>Date</B><TD> |2,0,0,,,TPARKING.XREF;13~D2|
<TR>
<TD CLASS="mm">
<B>Address</B><TD> |2,0,0,,,TPARKING.XREF;9;10;11;12|
</TABLE>
<BR>
<b>Driver</b>
<TABLE WIDTH=100%>
<TR>
<TD CLASS="mm" width=30%>
<B>Name</B><TD> |39|
<TR>
<TD CLASS="mm">
<B>Date</B><TD> |44,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Address</B><TD> |40| <BR> |41| <BR> |42| &nbsp;&nbsp; |43|
</TABLE>

<P>
<h1 align=center>Collection Details</h1>
<B>Payment</B>
<TABLE WIDTH=100%>
<TR>
<TD CLASS="mm" width=25%>
<B>Status</B><TD width=25%> |25| 
<TD CLASS="mm" width=25%>
<B>Status Date</B><TD COLSPAN=3> |24,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Status By</B><TD> |26| 
<TD CLASS="mm">
<B>Date Paid</B><TD COLSPAN=3> |21,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Amount Paid</B><TD> |22,1,1,,,MD2| 
<TD CLASS="mm">
<B>Receipt</B><TD COLSPAN=3> <B><A HREF="http://d3dev1/prospect/asp/bi.asp?fn=cash&tn=cash&item=|23,1,1|">|23,1,1|</A></B>
<TR>
<TD CLASS="mm">
<B>Penalty</B><TD> |19,1,1,,,MD2| 
<TD CLASS="mm">
<B>Balance</B><TD COLSPAN=3> |20|
</TABLE>
<BR>
<B>Arrears</B>
<TABLE WIDTH=100%>
<TR>
<TD CLASS="mm" width=25%>
<B>FN Date</B><TD width=25%> |27,1,1,,,D2| 
<TD CLASS="mm" width=25%>
<B>FD Sent</B><TD> |0,1,1,,P.,TINREP;1~D2| 
<TR>
<TD CLASS="mm">
<B>FD Due</B><TD> |0,1,1,,P.,TINREP;2~D2| 
<TD CLASS="mm">
<B>FD Fee</B><TD> |0,1,1,,P.,TINREP;3~MD2| 
<TR>
<TD CLASS="mm">
<B>FER Sent</B><TD> |0,1,1,,P.,TINREP;4~D2|
<TD CLASS="mm">
<B>FER Reg</B><TD> |0,1,1,,P.,TINREP;8| 
<TR>
<TD CLASS="mm">
<B>FER Fee</B><TD> |0,1,1,,P.,TINREP;5~MD2|
<TD CLASS="mm">
<B>FER File Fee</B><TD> |0,1,1,,P.,TINREP;7~MD2| 
</TABLE>



