<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>ANIMAL PICKUP </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="pickup"><INPUT TYPE=hidden NAME="tn" VALUE="pickup"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Patrol Officer</B><TD COLSPAN=5> |1,1,1,,,TCA.OFFICER;1|
<TR>
<TD CLASS="mm">
<B>Date</B><TD> |2,1,1,,,D2|
<TD CLASS="mm">
<B>Time</B><TD COLSPAN=3> |3,1,1,,,MT|
<TR>
<TD CLASS="mm">
<B>Location</B><TD COLSPAN=5> |4|
<TR>
<TD class="screen" colspan=6>&nbsp;
<TR>
<TD CLASS="mm">
<B>Disc No.</B><TD> |10|
<TD CLASS="mm">
<B>Council</B><TD COLSPAN=3> |11|
<TR>
<TD class="screen" colspan=6>&nbsp;
<TR>
<TD CLASS="mm">
<B>Sex</B><TD COLSPAN=5> |5|
<TR>
<TD CLASS="mm">
<B>Breed</B><TD COLSPAN=5> |6,1,1,,@B.,TANIMAL.CODES;1|
<TR>
<TD CLASS="mm">
<B>Colour</B><TD COLSPAN=5> |7,1,1,,@C.,TANIMAL.CODES;1|
<TR>
<TD CLASS="mm">
<B>Marks</B><TD COLSPAN=5> |8|
<TR>
<TD CLASS="mm">
<B>Approx Age</B><TD> |9| <TD COLSPAN=4><font size=-1>(Years if known, A/Adult, P/Pup)</font>
<TR>
<TD class="screen" colspan=6>&nbsp;
<TR>
<TD CLASS="mm">
<B>Pound</B><TD> |12|
<TD CLASS="mm">
<B>Date</B><TD> |13,1,1,,,D2|
<TD CLASS="mm">
<B>Time</B><TD> |14,1,1,,,MT|
<TR>
<TD CLASS="mm">
<B>Delivered by</B><TD COLSPAN=5> |20|
<TR>
<TD class="screen" colspan=6>&nbsp;
<TR>
<TD CLASS="mm">
<B>Owner</B><TD COLSPAN=5> |15,1,1,,,TCLIENT;1;2;3;4;5| 
<TR>
<TD CLASS="mm">
<B>Notified</B><TD> |17,1,1,,,D2|
<TD CLASS="mm">
<B>At</B><TD COLSPAN=3> |18,1,1,,,MT|
<TR>
<TD CLASS="mm">
<B>Other Information</B><TD COLSPAN=5> |19|
</TABLE>
