<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>PRODUCT GROUP </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="prd.grp"><INPUT TYPE=hidden NAME="tn" VALUE="prd_grp"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE width ALIGN=CENTER BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR>
<TD CLASS="mm">
<B>Stock Controlled</B><TD>  |5|
<TR>
<TD CLASS="mm">
<B>Description</B><TD>	|1|
<TR>
<TD CLASS="mm">
<B>Sales a/c</B><TD><A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|2,0,0|"><FONT CLASS=itemlnk>|2,0,0,,,|</FONT></A>  <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|2,0,0|"><FONT CLASS=itemlnk>|2,0,0,,,TGEN.L;2|</FONT></A>
<TR>
<TD CLASS="mm">
<B>Cost of Sales a/c</B><TD> <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|3,0,0|"><FONT CLASS=itemlnk>|3,0,0,,,|</FONT></A>  <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|3,0,0|"><FONT CLASS=itemlnk>|3,0,0,,,TGEN.L;2|</FONT></A>
<TR>
<TD CLASS="mm">
<B>Stock-on-hand a/c</B><TD><A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|7,0,0|"><FONT CLASS=itemlnk>|7,0,0,,,|</FONT></A>  <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|7,0,0|"><FONT CLASS=itemlnk>|7,0,0,,,TGEN.L;2|</FONT></A>
<TR>
<TD CLASS="mm">
<B>Stock-clearing a/c (goods received not invoiced)</B><TD> <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|8,0,0|"><FONT CLASS=itemlnk>|8,0,0,,,|</FONT></A>  <A HREF="/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=|8,0,0|"><FONT CLASS=itemlnk>|8,0,0,,,TGEN.L;2|</FONT></A></TABLE>
