<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>PURCHASE ORDER </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="purchase"><INPUT TYPE=hidden NAME="tn" VALUE="purchase"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE align=center>
<TR>
<TD CLASS="mm">
<B>Client No</B><TD> <A HREF="/prospect/asp/bi.asp?fn=client&tn=client&item=|3,1,1|"><FONT CLASS=itemlnk>|3,1,1|</FONT></A>
<TD CLASS="mm">
<B>Date</B><TD> |21,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Client Name</B><TD> |3,1,1,,,Tclient;1| 
<TD CLASS="mm">
<B>Branch</B><TD> |1| &nbsp; &nbsp; |1,1,1,,,Tbranch;1|
<TR>
<TD CLASS="mm" ROWSPAN=2>
<B>Client Address</B><TD ROWSPAN=2> |3,1,1,,,TRES_ADDRESS|
<TD CLASS="mm">

<TR>
<TD CLASS="mm">
<B>Batch No</B><TD> |30|
<TR>
<TD CLASS="mm">
<B>Del Date</B><TD> |20,1,1,,,D2| &nbsp;
<TD CLASS="mm">
<B>Int Req</B><TD> |5| &nbsp;
<TR>
<TD CLASS="mm">
<B>Order Completed</B><TD> |32,1,1,,,D2| &nbsp;
<TD CLASS="mm">
<B>Order Canceled</B><TD> |25,1,1,,,D2| &nbsp;
</TABLE>
<P ALIGN=CENTER>
||IF,44,#,
<B>Authorising Officer </B>|44|
||IFEND
<TABLE ALIGN=CENTER BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS=top>
<TH>Product
<TH>Description
<TH>Qty
<TH>InQty
<TH>Rec'd
<TH>Cost
<TH>Amount
||TABLE000 <TR><TD>|10,N,1|<TD>|12,N,0|<TD ALIGN="right">|13,N,1|<TD ALIGN="right">|13,N*11,1|<TD ALIGN="right">|26,N*11,1|<TD ALIGN=RIGHT>|14,N,1,,,MD2|<TD ALIGN=RIGHT>|14,N*13,1,,,MD2|
<TR>
<TD COLSPAN=6 CLASS="tdempty" ALIGN="right"><B>Total Order Amount</B> <TD ALIGN="right"> |8,1,1,,,MD2|
<TR>
<TD COLSPAN=6 CLASS="tdempty" ALIGN="right"><B>Outstanding Value</B> <TD ALIGN="right">  |8,-7,1,,,MD2|
</TABLE>
<P align=center>
||IF,33,#,
<TABLE align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS="top">
<TH>Associated Goods Inwards <BR>or Invoices
||TABLE000 <TR><TD align =center>|@,/prospect/asp/bi.asp?fn=cr.inv&tn=cr_inv&item=,33,N,1|
</TABLE>
||IFEND



