||SRsr1651
<TABLE WIDTH=95%>
<TR CLASS="top">
<TH><font size=-1>Assess</font>
<TH><font size=-1>Arrears</font>
<TH><font size=-1>Levy/Inv</font>
<TH><font size=-1>Rebate</font>
<TH><font size=-1>Discount</font>
<TH><font size=-1>Journal</font>
<TH><font size=-1>Penalty</font>
<TH><font size=-1>Receipt</font>
<TH><font size=-1>Other</font>
<TH><font size=-1>Total</font>
||TABLEA01 <TR><TD>|1,N,1|<TD ALIGN=RIGHT> |2,N,1,,,MD2|<TD ALIGN=RIGHT> |3,N,1,,,MD2|<TD ALIGN=RIGHT> |4,N,1,,,MD2|<TD ALIGN=RIGHT> |5,N,1,,,MD2|<TD ALIGN=RIGHT>|6,N,1,,,MD2|<TD ALIGN=RIGHT>|7,N,1,,,MD2|<TD ALIGN=RIGHT>|8,N,1,,,MD2|<TD ALIGN=RIGHT>|9,N,1,,,MD2|<TD ALIGN=RIGHT>|10,N,1,,,MD2|
</TABLE>
||SREND