||SRsr1665
<TABLE WIDTH=95%>
<TR CLASS="top">
<TH><font size=-1>&nbsp;</font>
<TH><font size=-1>&nbsp;</font>
<TH><font size=-1>Rateable <BR> Value <BR> ($1000)</font>
<TH><font size=-1>Rate <BR> in $ <BR> (c.) </font>
<TH><font size=-1>Estimated <BR> Yield <BR> ($)</font>
<TH><font size=-1>Minimum<BR> No. </font>
<TH><font size=-1>Minimum <BR> Yield($)</font>
<TH><font size=-1>Estimated <BR>Total <BR> Yield($)</font>
||TABLEA01 <TR><TD>|1,N,1|<TD ALIGN=LEFT> |2,N,1|<TD ALIGN=RIGHT> |3,N,1|<TD ALIGN=RIGHT> |4,N,1|<TD ALIGN=RIGHT> |5,N,1|<TD ALIGN=RIGHT>|6,N,1|<TD ALIGN=RIGHT>|7,N,1|<TD ALIGN=RIGHT>|8,N,1|
</TABLE>
||SREND