||SRDICT RR.LOG,4
<h1 align=center>|2| Rating Setup</h1>
<blockquote>
<B>Chief Executive Officer :</B> |8,0,0|
<BR><B>Signatory Officer :</B> |27,0,0|
</blockquote>
||SREND
<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRsr16_cat
<TABLE WIDTH=95% align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<TR CLASS=top>
<TH class="top">No
<TH class="top">Category
<TH class="top">Code
<TH class="top">Discount %
<TH class="top">Penalty %
<TH class="top">Rebatable
<TH class="top">Deferrable
<TH class="top">Pensioner Arrears Penalty
<TH class="top">GST Code
||TABLE000 <TR><TD>|1,N,0|&nbsp;<TD><A HREF="#LOOP">|2,N,1|&nbsp;</A><TD> |3,N,1|&nbsp;<TD ALIGN=RIGHT>&nbsp;|4,N,1|<TD ALIGN=RIGHT>&nbsp;|5,N,1|<TD align="center">|6,N,1|&nbsp;<TD align="center">|7,N,1|&nbsp;<TD align="center">|8,N,1|&nbsp;<TD align="center">|9,N,1|&nbsp;
</TABLE>
||SREND

<blockquote>
<A  HREF="/prospect/asp/bi.asp?tn=rates_setup"> <B>Hide Details for Discount, Penalty and Rebates </B></A>
<P>
<A  HREF="/prospect/asp/bi.asp?tn=rates_cat"> <B>Show Details for Rates and Interim Levy</B></A>
<p>&nbsp;
||SRDICT RR.LOG,4
<h1 align=center>|2| Rating Categories</h1>
||SREND


||LOOPsr16_catnum
||SRsr1600,&&LOOP&&
<TABLE WIDTH=95% align=center BORDER=1 CELLSPACING=1 CELLPADDING=1>
<A NAME="&&LOOP&&"></A>
<TR CLASS="top">
<TH  class="top" colspan=6><A NAME="LOOP">&&sr16_catdesc</A>
<TH  class="top" COLSPAN=4>General Ledger Accounts
<TR CLASS="top">
<TH class="top" width="7%">Code
<TH class="top" width="25%">Description
<TH class="top" width="7%">Rate in $
<TH class="top" width="7%">Min
<TH class="top" width="7%">Max
<TH class="top" width="7%">Value code
<TH class="top" width="10%">Rate Levy
<TH class="top" width="10%">Disc DR
<TH class="top" width="10%">Penalty CR
<TH class="top" width="10%">Rebate DR
||TABLE000 <TR><TD> |1,N,1|&nbsp;<TD>|2,N,1,,,|&nbsp;<TD> |3,N,1|&nbsp;<TD ALIGN=RIGHT>&nbsp;|4,N,1|<TD ALIGN=RIGHT>&nbsp;|5,N,1|<TD> |6,N,1|&nbsp;<TD>|@,/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=,7,N,1|&nbsp;<TD>|@,/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=,14,N,0|&nbsp;<TD>|@,/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=,15,N,0|&nbsp;<TD>|@,/prospect/asp/bi.asp?fn=gen.l&tn=gen_l&item=,16,N,0|&nbsp;
</TABLE>
<P>
||SREND
<!---||LOOPEND-->
