||SRsr1680a
<TABLE WIDTH=95%>
<TR CLASS="top">
<TH><font size=-1>Code</font>
<TH><font size=-1>Number</font>
<TH><font size=-1>Total <BR> Valuation</font>
<TH><font size=-1>Total <BR> Rates</font>
<TH><font size=-1>Minimum <BR> Rate <BR> Category</font>
<TH><font size=-1>Number <BR> of <BR> Services</font>
<TH><font size=-1>Total <BR> Valuation</font>
<TH><font size=-1>Total <BR> Rates</font>
<TH><font size=-1>GST</font>
||TABLEA01 <TR><TD>|1,N,1|<TD ALIGN=RIGHT> |2,N,1|<TD ALIGN=RIGHT> |3,N,1|<TD ALIGN=RIGHT> |4,N,1,,,MD2|<TD> |5,N,1|<TD ALIGN=RIGHT>|6,N,1|<TD ALIGN=RIGHT>|7,N,1|<TD ALIGN=RIGHT>|8,N,1,,,MD2|<TD ALIGN=RIGHT>|9,N,1,,,MD2|
</TABLE>
||SREND