<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>RUBBISH BIN </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="rbins"><INPUT TYPE=hidden NAME="tn" VALUE="rbins"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE width= "95%" ALIGN=CENTER BORDER=0 CELLSPACING=1 CELLPADDING=1>
 
 <TR>
   <TD CLASS="mm"><B>Bin Type</B>
   <TD COLSPAN=3>|1| &nbsp;&nbsp; |1,1,1,,@B.,TRBINS.CODES;1;2|
 

 <TR>
   <TD width "20%" CLASS="mm"><B>Assessment</B>
   <TD COLSPAN=3><A HREF="/prospect/asp/bi.asp?fn=property&tn=property&item=|3|"><FONT CLASS=itemlnk>|3|</FONT></a> &nbsp;&nbsp; |3,1,1,,,TCLIENT;2;3;5|

 <TR>
   <TD CLASS="mm"><B> Owner Name</B>
   <TD COLSPAN=3> |3,1,1,,,TCLIENT;35~TCLIENT;8;7;1|

<TR>
   <TD VALIGN=top CLASS="mm"><B>Owner Address</B>
   <TD COLSPAN=3> |3,1,1,,,TCLIENT;35~TCLIENT;2;3;5|


 <TR>
   <TD CLASS="mm"><B>Location (If No Assess)</B>
   <TD COLSPAN=3>|4|
 

 <TR>
   <TD CLASS="mm"><B>Issue Date</B>
   <TD COLSPAN=3>|5,1,1,,,D2|
 

 <TR>
   <TD CLASS="mm"><B>Days Serviced</B>
   <TD COLSPAN=3>|14,1,1,,@D.,TRBINS.CODES;1|


<TR>
   <TD CLASS="mm"><B> Replace code</B>
   <TD width="30%">|7| &nbsp;&nbsp; |7,1,1,,@R.,TRBINS.CODES;1|
 
   <TD CLASS="mm" width="20%" ><B>Replaced with Bin Id</B>
   <TD><A HREF="/prospect/asp/bi.asp?fn=rbins&tn=rbins&item=|9|"><FONT CLASS=itemlnk>|9|</FONT></A>

 <TR>
   <TD CLASS="mm"><B> Replacement  Date</B>
   <TD>|8,1,1,,,D2|

   <TD CLASS="mm"><B> Replacement for Bin Id</B>
   <TD><A HREF="/prospect/asp/bi.asp?fn=rbins&tn=rbins&item=|6|"><FONT CLASS=itemlnk>|6|</FONT></A>

 <TR>
   <TD CLASS="mm"><B>Previous Assessment</B>
   <TD COLSPAN=3><A HREF="/prospect/asp/bi.asp?fn=property&tn=property&item=|10|"><FONT CLASS=itemlnk>|10|</FONT></a> &nbsp;&nbsp; |10,1,1,,,TCLIENT;2;3;5|
   
 <TR>
   <TD CLASS="mm"><B> Narrative</B>
   <TD COLSPAN=3>|11|
 

</TABLE>


