<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>Consent Id</FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="prd.grp"><INPUT TYPE=hidden NAME="tn" VALUE="prd_grp"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Type</B><TD>  |1,0,0,,,TRC.TYPES;1|
<TR>
<TD CLASS="mm">
<B>Publicy Notifiable</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Applicant</B><TD>  |3|
<TR>
<TD CLASS="mm">
<B>Date</B><TD>  |4,0,0,,,D2|
</TABLE>


<TABLE WIDTH="95%">
<TR CLASS="top">
<TH>Detail
<TH>Conditions
<TH>Current Evaluation
<TH>Parcel
||TABLE000 <TR><TD>|5,N,0|<TD>|6,N,0,,,TRC.CONDITIONS;1|<TD>|7,N,0,,,TRC.EVALUATION;1|<TD>|8,N,0|
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>File</B><TD>  |9|
</TABLE>

<TABLE WIDTH="95%">
<TR CLASS="top">
<TH>Owners
<TH>Occupiers
<TH>Tenants
<TH>Consented
||TABLE000 <TR><TD>|10,N,0|<TD>|11,N,0|<TD>|12,N,0|<TD>|13,N,0|
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Appeal</B><TD>  |14,0,0,,,TRC.APPEAL;1|
</TABLE>

<TABLE WIDTH="95%">
<TR CLASS="top">
<TH>Occupiers Name
<TH>Owners Name
<TH>Address
<TH>Tenants Name
||TABLE000 <TR><TD>|0,N,0|<TD>|0,N,0|<TD>|0,N,0|<TD>|0,N,0|
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Phone (wk)</B><TD>  |0|
<TR>
<TD CLASS="mm">
<B>Mail Address</B><TD>  |0|
<TR>
<TD CLASS="mm">
<B>   </B><TD>	|0|
<TR>
<TD CLASS="mm">
<B>   </B><TD>	|0|
<TR>
<TD CLASS="mm">
<B>Name</B><TD>  |0|
<TR>
<TD CLASS="mm">
<B>  </B><TD>  |0|
<TR>
<TD CLASS="mm">
<B>(Hm)</B><TD>  |0|
<TR>
<TD CLASS="mm">
<B>Parcel Legal</B><TD> 
</TABLE>


