<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>SIGN </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="signs"><INPUT TYPE=hidden NAME="tn" VALUE="signs"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE width="95%" ALIGN=CENTER BORDER=0 CELLSPACING=1 CELLPADDING=1>
<TR>
<TD CLASS="mm">
<B>Assessment</B><TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=property&tn=property&item=|1,1,1|"><FONT CLASS=itemlnk>|1|</FONT></A> &nbsp;&nbsp; |1,1,1,,,TCLIENT;2;3|
<TR>
<TD CLASS="mm">
<B>Owner Name</B><TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=client&tn=client&item=|1,1,1,,,TCLIENT;35|"><FONT CLASS=itemlnk>|1,1,1,,,TCLIENT;35|</FONT></A> &nbsp;&nbsp; |1,1,1,,,TCLIENT;35~TCLIENT;1|
<TR>
<TD CLASS="mm">
<B>Applicant</B><TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=client&tn=client&item=|2,1,1|"><FONT CLASS=itemlnk>|2|</FONT></A> &nbsp;&nbsp; |2,1,1,,,TCLIENT;1;7;2,1;3,1|
<TR>
<TD class="screen" colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Builder Reg</B><TD COLSPAN=3> |3|
<TR>
<TD CLASS="mm">
<B>Sign Type</B><TD COLSPAN=3> |4,1,1,,@ST.,TBUILD.CODES;1|
<TR>
<TD CLASS="mm">
<B>Part of Sign ID</B><TD COLSPAN=3> |5|
<TR>
<TD CLASS="mm">
<B>Sign ID's on this Sign</B><TD COLSPAN=3> |14|
<TR>
<TD CLASS="mm">
<B>General Narrative</B><TD COLSPAN=3> |6|
<TR>
<TD class="screen" colspan=4>&nbsp;
<TR>
<TD CLASS="mm">
<B>Original Owner</B><TD COLSPAN=3> |8|
<TR>
<TD CLASS="mm">
<B>Tenant</B><TD> |9|
<TD CLASS="mm">
<B>Strata Holder of Portion</B><TD> |10|
<TR>
<TD CLASS="mm">
<B>MRS Approval Date</B><TD> |11,1,1,,,D2|
<TD CLASS="mm">
<B>MRD Approval Date</B><TD> |12,1,1,,,D2|
<TR>
<TD CLASS="mm">
<B>Sign Area (SqM)</B><TD> |13,1,1,,,MD2|
<TD CLASS="mm">
<B>Current Department</B><TD> |28|
<TR>
<TD CLASS="mm">
<B>Application Date</B><TD> |17,1,1,,,D2|
<TD CLASS="mm">
<B>Owner Approval Date</B><TD> |7,1,1,,,D2|
</TABLE>
