<H1 align=center>Customer Support- Incident Report</H1>   
<BR>
<BR>
<FORM ACTION="/prospect/support/add_call.asp" METHOD="POST" NAME="addcall">
<TABLE align=center bgcolor=BurlyWood border="1" cellspacing="3" cellpadding="1">
<TR><TH bgcolor=#996633   colspan=4>Customer Support Log Dummy
<TR><TD colspan=4 bgcolor=Tan><STRONG>Caller Details</STRONG>
<TR>
   <TD bgcolor=#CC9966>Client Name 
   <TD><select  name="clientDpBox" size="1" id="sselect slog.client a1,slog.client"><option value="|9999|">|9999|
      </select>
 <TR><TD bgcolor=#CC9966>Contact Name<TD><input TYPE="TEXT" NAME="5" value="|5,1,1|">
      <TD bgcolor=#CC9966>Phone Number<TD><input TYPE="TEXT" NAME="6" value="|5,2,1|">
 <TR><TD> 	  
 <TR><TD>  
<TR><TD colspan=4 bgcolor=Tan><STRONG>Incident Report Details</STRONG>
<TR>
   <TD bgcolor=#CC9966>Module Name 
   <TD><select  name="typeDpBox" size="1" id="sselect slog.codes with a0 = '@M]' a1,slog.codes"><option value="|9999|">|9999|
      </select>
     <TD bgcolor=#CC9966>Program Name<TD><input TYPE="text" NAME="10" VALUE="|11|">
<TR><TD>  
<TR><TD>  
<TR><TD>  
<TR><TD colspan=4 bgcolor=#CC9966>Description Of Problem:  
<TR><TD colspan=4><TEXTAREA NAME="problem" COLS="60" ROWS="6" WRAP="VIRTUAL">value="|12|" 
 </TEXTAREA>
<TR><TD><INPUT TYPE="button" NAME="send" VALUE="Send">
</TABLE>
</FORM>
