<H1 align=center>Customer Support- Incident Report</H1>   
<BR>
<BR>
<FORM ACTION="/prospect/support/add_call.asp" METHOD="POST" NAME="addcall">
<TABLE align=left bgcolor=BurlyWood border="1" cellspacing="3" cellpadding="1">
<TR><TH bgcolor=#CC9933   colspan=4>Customer Support Log 
<TR>
   <TD bgcolor=#CC9966>4.Client
   <TD><select  name="clientDpBox" size="1" id="sselect slog.client a1,slog.client"><option value="|9999|">|9999|
      </select>
 <TR><TD bgcolor=#CC9966>Contact<TD><input TYPE="TEXT" NAME="5">
     <TD bgcolor=#CC9966>Phone<TD><input TYPE="TEXT" NAME="6">
<TR>
   <TD bgcolor=#CC9966>7.Module
   <TD><select  name="clientDpBox" size="1" id="sselect sw.pool a1,sw.pool"><option value="|9999|">|9999|
      </select>
     <TD bgcolor=#CC9966>Program<TD><input TYPE="TEXT" NAME="8">
<TR><TD>  
<TR><TD>  
<TR><TD>  
<TR><TD>  
<TR><TD colspan=4 bgcolor=#CC9966>Please Provide A Detailed Description Of Problem:  
<TR><TD colspan=4><TEXTAREA NAME="problem" COLS="60" ROWS="6" WRAP="VIRTUAL">value="|13|"
</TEXTAREA>
<TR><TD>  
<TR><TD>  
<TR><TD colspan=2 bgcolor=#CC9966>Notified By<TD colspan=2><input TYPE="TEXT" NAME="14">
<TR><TD><INPUT TYPE="button" NAME="send" VALUE="Send">
</TABLE>

<TABLE align=right bgcolor=BurlyWood border="1" cellspacing="3" cellpadding="1">
<TH colspan=4>All Log Fields
<TR><TD>Call Number<TD><input TYPE="text" NAME="0" VALUE="|0|">
<TR><TD>Date In<TD><input TYPE="text" NAME="1" VALUE="|1,1,1,,,D2|">
<TR><TD>Time In<TD><input TYPE="text" NAME="2" VALUE="|2,1,1,,,D2|">
<TR><TD>Loggged By<TD><input TYPE="text" NAME="3" VALUE="|3|">
<TR><TD>Client Number<TD><input TYPE="text" NAME="4" VALUE="|4|">
<TR><TD>Contact Name<TD><input TYPE="text" NAME="5" VALUE="|5,1,1|">
<TR><TD>Contact Phone<TD><input TYPE="text" NAME="5" VALUE="|5,2,1|">
<TR><TD>CKA Contact Name<TD><input TYPE="text" NAME="6" VALUE="|6|">

<TR><TD>Date Call Taken<TD><input TYPE="text" NAME="7" VALUE="|7|">
<TR><TD>Date Completed<TD><input TYPE="text" NAME="8" VALUE="|8|">
<TR><TD>Time Completed<TD><input TYPE="text" NAME="9" VALUE="|9|">
<TR><TD>Module<TD><input TYPE="text" NAME="10" VALUE="|10|">
<TR><TD>Program<TD><input TYPE="text" NAME="11" VALUE="|11|">
<TR><TD>Problem Details<TD><input TYPE="text" NAME="12" VALUE="|12|">
<TR><TD>Problem Resolution<TD><input TYPE="text" NAME="13" VALUE="|13|">
<TR><TD>Additional Comments<TD><input TYPE="text" NAME="14" VALUE="|14|">
</TABLE>
</FORM>
