<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRTA2829
<H2>|19|</H2>
<H3>|20|</H3>
<TABLE width=95%>
<TR CLASS="top">
<TH>
<TH>Employee
<TH>
<TH>Pay Date
<TH>Ordinary Hours
<TH>Ordinary Rate
<TH>Ordinary Wages
<TH>Overtime Hours
<TH>Overtime Rate
<TH>Overtime Wages
<TH>Other Description
<TH>Other Hours
<TH>Other Wages
<TH>Adj's/ Allow's
<TH>Gross Wages
<TH>Tax
<TH>Deductions
<TH>Net
||TABLEA01 <TR> <TD align=right>|1,N|<TD NOWRAP>|2,N|<TD>|3,N|<TD>|4,N|<TD align=right>|5,N|<TD align=right>|6,N|<TD align=right>|7,N|<TD align=right>|8,N|<TD align=right>|9,N|<td align=right>|10,N|<td NOWRAP>|11,N|<TD align=right>|12,N|<TD align=right>|13,N|<TD align=right>|14,N|<td align=right>|15,N|<TD align=right>|16,N|<TD align=right>|17,N|<TD align=right>|18,N|
</TABLE>
||SREND