<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRTA3133
<TABLE WIDTH=95% BORDER=1 CELLSPACING=1 CELLPADDING=1 align=center>
<TR CLASS="top">
<TH colspan=14>|19|
<TR CLASS="top">
<TH>Ward
<TH>Count
<TH>Plan
<TH>Property Address
<TH>Type
<TH>Valuation
<TH>Fees
||TABLE000 <TR><TD> |6,NB,1|<TD> |7,NT,1| <TD> |@,/prospect/asp/bi.asp?fn=plans&tn=plans&item=,1,N,1|<TD>|2,N,1|<TD>|3,N,1|<TD ALIGN=RIGHT>|4,NT,1|<TD ALIGN=RIGHT> |5,NT,1,,,MD2|
<TR><TD colspan=5><B>Progressive total</B><TD align=right><B>|8|</B>
</TABLE>

||SREND
