<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRTA3131
<TABLE WIDTH=95% BORDER=1 CELLSPACING=1 CELLPADDING=1 align=center>
<TR CLASS="top">
|5|
<TR CLASS="top">
|1|
<TR>
|2|
|4|
</TABLE>

<P>
I certify that to the best of my knowledge and belief, the particulars given in this return are a true and complete record of proposed building operations known to this Local Authority
|3|
||SREND
<P>
<P>
<P>
<P>
<P>
<P>
||SRDICT RR.LOG,4
<blockquote>
----&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp---------------------------
</blockquote>
<blockquote>
Date&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPrincipal Building Surveyor, |2|
</blockquote>
||SREND
