<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRTA3148A
<TABLE WIDTH=95% BORDER=1 CELLSPACING=1 CELLPADDING=1 align=center>
<TR CLASS=top>
<TH colspan=18>|19|
<TR CLASS="top">
<TH>Plan
<TH>Work Type
<TH>Building Type
<TH>Apply Date
<TH>Property Address
<TH>Builder
<TH>Owner
<TH>Apply Complete
<TH>Status
<TH>Value
<TH>Ward
<TH>Fees
<TH>Wall Type
<TH>Roof Type
<TH>Floor Type
<TH>Insp Type
<TH>Off Code
<TH>Auth Off Code
||TABLE000 <TR><TD> |@,/prospect/asp/bi.asp?fn=plans&tn=plans&item=,1,N,1|<TD> |2,N,1,,,TBL_WORK;1|&nbsp; <TD> |3,N,1,,,TBL_BUILDING;1|&nbsp; <TD nowrap> &nbsp; |4,N,1,,,D2|<TD> |5,N,1|&nbsp; <TD nowrap>|6,N,1,,,|&nbsp; <TD>|7,N,1,,,|&nbsp; <TD> &nbsp; |8,N,1,,,D2|<TD>|9,N,1,,,|&nbsp; <TD ALIGN=RIGHT> &nbsp; |10,NT,1,,,MD2|<TD>|11,N,1,,,|&nbsp; <TD ALIGN=RIGHT> &nbsp; |12,NT,1,,,MD2|<TD>|13,N,1,,,TBL_WALL;1|&nbsp; <TD>|14,N,1,,,TBL_ROOF;1|&nbsp; <TD>|15,N,1,,,TBL_FLOOR;1|&nbsp; <TD>|16,N,0|&nbsp; <TD>|17,N,1,,,|&nbsp; <TD>|18,N,1,,,|&nbsp; 
</TABLE>
||SREND

