<FORM NAME="itemid"><INPUT NAME="item" TYPE="hidden"></FORM>

||SRTA3148
<TABLE WIDTH=95% BORDER=1 CELLSPACING=1 CELLPADDING=1 align=center>
<TR CLASS="top">
<TH colspan=14>|15|
<TR CLASS="top">
<TH>Year
<TH>Jan
<TH>Feb
<TH>Mar
<TH>Apr
<TH>May
<TH>Jun
<TH>Jul
<TH>Aug
<TH>Sep
<TH>Oct
<TH>Nov
<TH>Dec
<TH>Total
||TABLE000 <TR><TD>|1,N,1|<TD ALIGN=RIGHT>&nbsp;|2,NT,1|<TD ALIGN=RIGHT>&nbsp; |3,NT,1|<TD ALIGN=RIGHT> &nbsp;|4,NT,1|<TD ALIGN=RIGHT> &nbsp;|5,NT,1|<TD ALIGN=RIGHT> &nbsp;|6,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|7,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|8,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|9,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|10,NT,1,,,|<TD ALIGN=RIGHT>&nbsp; |11,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|12,NT,1,,,|<TD ALIGN=RIGHT>&nbsp; |13,NT,1,,,|<TD ALIGN=RIGHT> &nbsp;|14,NT,1,,,|
</TABLE>
||SREND

