<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>INSTALLATION NUMBER </FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="ut_install"><INPUT TYPE=hidden NAME="tn" VALUE="ut_install"><INPUT TYPE="text" NAME="item" SIZE=15 VALUE="|0|"></FORM>
</TABLE>

<TABLE>

<TR>
<TD CLASS="mm">
<B>Debtor to Bill :</B>
<TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=tdebtor&tn=tdebtor&item=|1|">

<TR>
<TD CLASS="mm">
<B>Billing Frequency :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|2|</FONT>

<TR>
<TD CLASS="mm">
<B>Tariff Code :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|3|</FONT>

<TR>
<TD CLASS="mm">
<B>Meter Location :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|5|</FONT>

<TR>
<TD CLASS="mm">
<B>Notes :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|6|</FONT>

<TR>
<TD CLASS="mm">
<B>Installation Date :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|7,0,0,,,D2|</FONT>

<TR>
<TD CLASS="mm">
<B>Disconnection Due Date :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|8,0,0,,,D2|</FONT>

<TR>
<TD CLASS="mm">
<B>Date Disconnected :</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|9,0,0,,,D2|</FONT>

<TR>
<TD CLASS="mm">
<B>Meter Number :</B>
<TD COLSPAN=3> <A HREF="/prospect/asp/bi.asp?fn=ut.meter&tn=ut_meter_codes&item=|10,0,0|">

<TR>
<TD CLASS="mm">
<B>Book Number</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|11|</FONT>

<TR>
<TD CLASS="mm">
<B>Walk Number</B>
<TD COLSPAN=3><FONT CLASS=itemlnk>|12|</FONT>

</TABLE>

<TABLE>
<TR CLASS="top">
<TH>Date of Reading
<TH>Meter Reading
<TH>Consumption
<TH>Meter Number
||TABLE000 <TR> <TD>|14,N,0,,,D2|<TD>|13,N|<TD align=right> |15,N|<TD> |16,N|
</TABLE>


