<TABLE width=95%>
<FORM ACTION="/prospect/asp/bi.asp" NAME="itemid" METHOD="GET"><TR><TD class="tdempty" align="center"><B><FONT SIZE=+1>WDC LAND PARCEL</FONT></B>&nbsp;<INPUT TYPE=hidden NAME="fn" VALUE="prd.grp"><INPUT TYPE=hidden NAME="tn" VALUE="prd_grp"><INPUT TYPE="text" NAME="item" SIZE=5 VALUE="|0|"></FORM>
</TABLE>

<TABLE WIDTH=95%>
<TR>
<TD CLASS="mm">
<B>Main House or Rapid No</B><TD>  |3|
<TR>
<TD CLASS="mm">
<B>Other numbers</B><TD>  |18|
<TR>
<TD CLASS="mm">
<B>Road Name</B><TD>  |2,0,0,,,TROADS;1|
<TR>
<TD CLASS="mm">
<B>Legal Description</B><TD>  |4|
<TR>
<TD CLASS="mm">
<B>Area</B><TD>  |7|
<TR>
<TD CLASS="mm">
<B>X Co-ordinate</B><TD>  |16|
<TR>
<TD CLASS="mm">
<B>Y Co-ordinate</B><TD>  |17|
<TR>
<TD CLASS="mm">
<B>Meshblock</B><TD>  |19|
<TR>
<TD CLASS="mm">
<B>Area Unit</B><TD>  |20|
<hr>
<TR>
<TD CLASS="mm">
<B>DOSLI SUFI NO</B><TD>  |1|

<TR>
<TD CLASS="mm">
<B>Subdivisions</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=subdivisions&tn=subdivisions&item=,8,N,1|

<TR>
<TD CLASS="mm">
<B>Resource Consents</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=subdivisions&tn=subdivisions&item=,9,N,1|

<TR>
<TD CLASS="mm">
<B>Protected Trees</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=subdivisions&tn=subdivisions&item=,10,N,1|

<TR>
<TD CLASS="mm">
<B>Heritage Buildings</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=subdivisions&tn=subdivisions&item=,11,N,1|

<TR>
<TD CLASS="mm">
<B>Old Subdivisions</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=subdivisions&tn=subdivisions&item=,13,N,1|

<hr>

<TR>
<TD CLASS="mm">
<B>LOGIS Link Status</B>***<TD>  |15|
<TR>
<TD CLASS="mm">
<B>Property</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=property&tn=property&item=,5,N,1|
<TR>
<TD CLASS="mm">
<B>Parent</B><TD>
||ALIST <LI> |@,/prospect/asp/bi.asp?fn=wdc.parcel&tn=wdc_parcel&item=,13,N,1|


<hr>
<TR>
<TD CLASS="mm">
<B>Consent Id</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Date</B><TD>  |2|
<TD CLASS="mm">
<B>Notified N</B><TD>  
<TD CLASS="mm">
<B>Type</B><TD>  |2|
<TD CLASS="mm">
<B>File</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Applicant</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Detail</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Consented</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Appeal</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Conditions</B><TD>  |2|
<TD CLASS="mm">
<B>Current Evaluation</B><TD>  |2|

<hr>
<TR>
<TD CLASS="mm">
<B>Consent Number</B><TD>  |2|
<TD CLASS="mm">
<B>Parent Land Parcel</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Date Received</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Details</B><TD>	|2|
<TR>
<TD CLASS="mm">
<B>Land Status</B><TD>	|2|
<TD CLASS="mm">
<B>Plan Number</B><TD>	|2|
<TD CLASS="mm">
<B>Statistical Area</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Zone</B><TD>  |2|
<TD CLASS="mm">
<B>Deposited</B><TD>  |2|<TR>
<TD CLASS="mm">
<B>soil</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Area Before</B><TD>	|2|
<TD CLASS="mm">
<B>Proposed Use</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Area After</B><TD>  |2|
<TD CLASS="mm">
<B>Actual Use</B><TD>  |2|
<TD CLASS="mm">
<TD CLASS="mm">
<B>       </B><TD>	|2|
<TD CLASS="mm">
<B>approved Date</B><TD>  |2|
<TR>
<TD CLASS="mm">
<B>Conditions</B><TD>  |2|

<hr>
<TR>
<TD CLASS="mm">
<B>Signature</B><TD>  |2|
<TD CLASS="mm">
<B>Free Form Comment</B><TD>  |2|
<TD CLASS="mm">
<B>Site or General</B><TD>	|2|

</TABLE>
